In [ ]:
[문제90] 오늘부터 이번달 말일까지 몇일 남았는지 출력하세요.

In [2]:
import datetime

In [4]:
now = datetime.date.today()
now

datetime.date(2019, 5, 21)

In [6]:
lastday = datetime.date(2019,5,31)
lastday

datetime.date(2019, 5, 31)

In [7]:
delta = lastday - now
delta

datetime.timedelta(days=10)

In [10]:
delta.days

10

In [11]:
#[선생님]

from datetime import date
from calendar import monthrange

monthrange(2018,3)[0] 	#첫째 날의 요일을 숫자로 출력
monthrange(2018,3)[1] 	#그달의 마지막 날짜를 출력

monthrange(2018,3)[1] - date.today().day

10

In [ ]:
[문제91] 사원번호가 100번 사원의 사원이름과 급여를 출력하세요.

In [22]:
import csv

file =  open("c:\python\emp1.csv","r")
emp_list = csv.reader(file)

[print(i[1],i[5]) for i in emp_list if i[0] == '100']

King 24000

[None]

In [ ]:
#[R]

emp<-read.csv("c:/R/emp_d.csv",header =T, stringsAsFactors=F)
emp

emp[emp$EMPLOYEE_ID==100,c("LAST_NAME",'SALARY')]

In [ ]:
[문제92] 급여가 10000 이상인 사원들의 이름과 급여를 출력하세요.

In [25]:
import csv

file = open("c:\python\emp1.csv","r")
emp_list = csv.reader(file)

[print(i[1],i[5]) for i in emp_list if float(i[5])>=10000]

King 24000
Kochhar 17000
De Haan 17000
Greenberg 13208.8
Raphaely 11000
Russell 14000
Partners 13500
Errazuriz 12000
Cambrault 11000
Zlotkey 10500
Tucker 10000
King 10000
Vishney 10500
Ozer 11500
Bloom 10000
Abel 11000
Hartstein 13000
Baer 10000
Higgins 12008

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제93] 2001-01-13일에 입사한 사원의 이름과 입사일을 출력하세요

In [33]:
import csv
from datetime import *

dt = datetime

file = open("c:\python\emp1.csv","r")
emp_list = csv.reader(file)

[print(i[1],i[4]) for i in emp_list if dt.strptime(i[4],"%Y-%m-%d") == dt.strptime('2001-01-13',"%Y-%m-%d")]

De Haan 2001-01-13

[None]

In [29]:
[문제94] 2002년도에 입사한 사원들의 이름과 입사일을 출력하세요

In [50]:
import csv
import time

file = open("c:\python\emp1.csv","r")
emp_list = csv.reader(file)

[print(i[1],i[4]) for i in emp_list if time.strptime(i[4],"%Y-%m-%d").tm_year == 2002]

Greenberg 2002-08-17
Faviet 2002-08-16
Raphaely 2002-12-07
Mavris 2002-06-07
Baer 2002-06-07
Higgins 2002-06-07
Gietz 2002-06-07

[None, None, None, None, None, None, None]

In [ ]:
[문제 95] job이 ST_CLERK이고 월급 300 이상인 사원들의 이름과 JOB, 급여 출력하세요.

In [53]:
import csv

file = open("c:\python\emp1.csv","r")
emp_list = csv.reader(file)

[print(i[1],i[2],i[5]) for i in emp_list if float(i[5]) >= 300 and i[2] == 'ST_CLERK']

yer ST_CLERK 3200
Mikkilineni ST_CLERK 2700
Landry ST_CLERK 2400
Markle ST_CLERK 2200
Bissot ST_CLERK 3300
Atkinson ST_CLERK 2800
Marlow ST_CLERK 2500
Olson ST_CLERK 2100
Mallin ST_CLERK 3300
Rogers ST_CLERK 2900
Gee ST_CLERK 2400
Philtanker ST_CLERK 2200
Ladwig ST_CLERK 3600
Stiles ST_CLERK 3200
Seo ST_CLERK 2700
Patel ST_CLERK 2500
Rajs ST_CLERK 3500
Davies ST_CLERK 3100
Matos ST_CLERK 2600
Vargas ST_CLERK 2500

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제 96] 급여가 2500에서 3000사이인 사원들의 이름과 급여를 출력하세요.

In [54]:
import csv

file = open("c:\python\emp1.csv","r")
emp_list = csv.reader(file)

[print(i[1],i[5]) for i in emp_list if float(i[5]) >= 2500 and float(i[5]) <= 3000]

Baida 2900
Tobias 2800
Himuro 2600
Colmeres 2500
Mikkilineni 2700
Atkinson 2800
Marlow 2500
Rogers 2900
Seo 2700
Patel 2500
Matos 2600
Vargas 2500
Sullivan 2500
Geoni 2800
Cabrio 3000
Gates 2900
Perkins 2500
Jones 2800
Feeney 3000
OConnell 2600
Grant 2600

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제 97] JOB이 AD_VP, AD_PRES인 사원들의 이름과 월급과 직업을 출력하세요.

In [68]:
import csv

file = open("c:\python\emp1.csv","r")
emp_list = csv.reader(file)

[print(i[1],i[2],i[5]) for i in emp_list if i[2] == 'AD_VP' or i[2] == 'AD_PRES']

King AD_PRES 24000
Kochhar AD_VP 17000
De Haan AD_VP 17000

[None, None, None]

In [ ]:
[문제 98] 직업이 AD_VP, AD_PRES이 아닌 사원들의 이름과 월급과 직업을 출력하세요

In [71]:
import csv

file = open("c:\python\emp1.csv","r")
emp_csv = csv.reader(file)

[print(i[1],i[5],i[2]) for i in emp_csv if i[2] != 'AD_VP' and i[2] != 'AD_PRES']

Hunold 9000 IT_PROG
Ernst 6000 IT_PROG
Austin 4800 IT_PROG
Pataballa 4800 IT_PROG
Lorentz 4200 IT_PROG
Greenberg 13208.8 FI_MGR
Faviet 9900 FI_ACCOUNT
Chen 8200 FI_ACCOUNT
Sciarra 7700 FI_ACCOUNT
Urman 7800 FI_ACCOUNT
Popp 6900 FI_ACCOUNT
Raphaely 11000 PU_MAN
Khoo 3100 PU_CLERK
Baida 2900 PU_CLERK
Tobias 2800 PU_CLERK
Himuro 2600 PU_CLERK
Colmeres 2500 PU_CLERK
Weiss 8000 ST_MAN
Fripp 8200 ST_MAN
Kaufling 7900 ST_MAN
Vollman 6500 ST_MAN
Mourgos 5800 ST_MAN
yer 3200 ST_CLERK
Mikkilineni 2700 ST_CLERK
Landry 2400 ST_CLERK
Markle 2200 ST_CLERK
Bissot 3300 ST_CLERK
Atkinson 2800 ST_CLERK
Marlow 2500 ST_CLERK
Olson 2100 ST_CLERK
Mallin 3300 ST_CLERK
Rogers 2900 ST_CLERK
Gee 2400 ST_CLERK
Philtanker 2200 ST_CLERK
Ladwig 3600 ST_CLERK
Stiles 3200 ST_CLERK
Seo 2700 ST_CLERK
Patel 2500 ST_CLERK
Rajs 3500 ST_CLERK
Davies 3100 ST_CLERK
Matos 2600 ST_CLERK
Vargas 2500 ST_CLERK
Russell 14000 SA_MAN
Partners 13500 SA_MAN
Errazuriz 12000 SA_MAN
Cambrault 11000 SA_MAN
Zlotkey 10500 SA_MAN
Tucker 10000 SA_REP
Bernstein 9500 SA_REP
Hall 9000 SA_REP
Olsen 8000 SA_REP
Cambrault 7500 SA_REP
Tuvault 7000 SA_REP
King 10000 SA_REP
Sully 9500 SA_REP
McEwen 9000 SA_REP
Smith 8000 SA_REP
Doran 7500 SA_REP
Sewall 7000 SA_REP
Vishney 10500 SA_REP
Greene 9500 SA_REP
Marvins 7200 SA_REP
Lee 6800 SA_REP
Ande 6400 SA_REP
Banda 6200 SA_REP
Ozer 11500 SA_REP
Bloom 10000 SA_REP
Fox 9600 SA_REP
Smith 7400 SA_REP
Bates 7300 SA_REP
Kumar 6100 SA_REP
Abel 11000 SA_REP
Hutton 8800 SA_REP
Taylor 8600 SA_REP
Livingston 8400 SA_REP
Grant 7000 SA_REP
Johnson 6200 SA_REP
Taylor 3200 SH_CLERK
Fleaur 3100 SH_CLERK
Sullivan 2500 SH_CLERK
Geoni 2800 SH_CLERK
Sarchand 4200 SH_CLERK
Bull 4100 SH_CLERK
Dellinger 3400 SH_CLERK
Cabrio 3000 SH_CLERK
Chung 3800 SH_CLERK
Dilly 3600 SH_CLERK
Gates 2900 SH_CLERK
Perkins 2500 SH_CLERK
Bell 4000 SH_CLERK
Everett 3900 SH_CLERK
McCain 3200 SH_CLERK
Jones 2800 SH_CLERK
Walsh 3100 SH_CLERK
Feeney 3000 SH_CLERK
OConnell 2600 SH_CLERK
Grant 2600 SH_CLERK
Whalen 4400 AD_ASST
Hartstein 13000 MK_MAN
Fay 6000 MK_REP
Mavris 6500 HR_REP
Baer 10000 PR_REP
Higgins 12008 AC_MGR
Gietz 8300 AC_ACCOUNT

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제 99] 커미션이 null인 사원들의 이름,급여,커미션을 출력하세요

In [81]:
import csv

file = open("c:\R\emp.csv","r")
emp_csv = csv.reader(file)

[print(i[1],i[7],i[-3]) for i in emp_csv if i[-3] == '']

Steven 24000
Neena 17000
Lex 17000
Alexander 9000
Bruce 6000
David 4800
Valli 4800
Diana 4200
Nancy 12008
Daniel 9000
John 8200
Ismael 7700
Jose Manuel 7800
Luis 6900
Den 11000
Alexander 3100
Shelli 2900
Sigal 2800
Guy 2600
Karen 2500
Matthew 8000
Adam 8200
Payam 7900
Shanta 6500
Kevin 5800
Julia 3200
Irene 2700
James 2400
Steven 2200
Laura 3300
Mozhe 2800
James 2500
TJ 2100
Jason 3300
Michael 2900
Ki 2400
Hazel 2200
Renske 3600
Stephen 3200
John 2700
Joshua 2500
Trenna 3500
Curtis 3100
Randall 2600
Peter 2500
Winston 3200
Jean 3100
Martha 2500
Girard 2800
Nandita 4200
Alexis 4100
Julia 3400
Anthony 3000
Kelly 3800
Jennifer 3600
Timothy 2900
Randall 2500
Sarah 4000
Britney 3900
Samuel 3200
Vance 2800
Alana 3100
Kevin 3000
Donald 2600
Douglas 2600
Jennifer 4400
Michael 13000
Pat 6000
Susan 6500
Hermann 10000
Shelley 12008
William 8300

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제 100] 커미션이 null이 아닌 사원들의 이름, 급여 커미션을 출력하세요.

In [82]:
import csv

file = open("c:\R\emp.csv","r")
emp_csv = csv.reader(file)

[print(i[1],i[7],i[-3]) for i in emp_csv if i[-3] != '']

FIRST_NAME SALARY COMMISSION_PCT
John 14000 0.4
Karen 13500 0.3
Alberto 12000 0.3
Gerald 11000 0.3
Eleni 10500 0.2
Peter 10000 0.3
David 9500 0.25
Peter 9000 0.25
Christopher 8000 0.2
Nanette 7500 0.2
Oliver 7000 0.15
Janette 10000 0.35
Patrick 9500 0.35
Allan 9000 0.35
Lindsey 8000 0.3
Louise 7500 0.3
Sarath 7000 0.25
Clara 10500 0.25
Danielle 9500 0.15
Mattea 7200 0.1
David 6800 0.1
Sundar 6400 0.1
Amit 6200 0.1
Lisa 11500 0.25
Harrison 10000 0.2
Tayler 9600 0.2
William 7400 0.15
Elizabeth 7300 0.15
Sundita 6100 0.1
Ellen 11000 0.3
Alyssa 8800 0.25
Jonathon 8600 0.2
Jack 8400 0.2
Kimberely 7000 0.15
Charles 6200 0.1

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제 101] last_name의 첫번째 철자가 S로 시작하는 사원들의 이름과 급여를 출력하세요

In [83]:
import csv

file = open("c:\R\emp.csv","r")
emp_csv = csv.reader(file)

[print(i[2],i[7]) for i in emp_csv if i[2][0] == 'S']

Sciarra 7700
Stiles 3200
Seo 2700
Sully 9500
Smith 8000
Sewall 7000
Smith 7400
Sullivan 2500
Sarchand 4200

[None, None, None, None, None, None, None, None, None]

In [ ]:
[문제 102] last_name의 두번째 철자가 i 인 사원들의 이름과 월급을 출력하세요.

In [98]:
import csv

file = open("c:\R\emp.csv","r")
emp_csv = csv.reader(file)

[print(i[2],i[7]) for i in emp_csv if i[2][-2] == 'i']

Austin 4800
Mallin 3300
Ladwig 3600
Errazuriz 12000
Bernstein 9500
Cabrio 3000
McCain 3200
Hartstein 13000
Mavris 6500

[None, None, None, None, None, None, None, None, None]

In [ ]:
[문제 103]이름, 급여 출력하는데 이름을 오름차순으로 출력하세요.

In [91]:
import csv

file = open("c:\R\emp.csv","r")
emp_csv = csv.reader(file)

emp_list = []
[emp_list.append(i[2]+','+i[7]) for i in emp_csv]
emp_list

['LAST_NAME,SALARY',
 'King,24000',
 'Kochhar,17000',
 'De Haan,17000',
 'Hunold,9000',
 'Ernst,6000',
 'Austin,4800',
 'Pataballa,4800',
 'Lorentz,4200',
 'Greenberg,12008',
 'Faviet,9000',
 'Chen,8200',
 'Sciarra,7700',
 'Urman,7800',
 'Popp,6900',
 'Raphaely,11000',
 'Khoo,3100',
 'Baida,2900',
 'Tobias,2800',
 'Himuro,2600',
 'Colmenares,2500',
 'Weiss,8000',
 'Fripp,8200',
 'Kaufling,7900',
 'Vollman,6500',
 'Mourgos,5800',
 'Nayer,3200',
 'Mikkilineni,2700',
 'Landry,2400',
 'Markle,2200',
 'Bissot,3300',
 'Atkinson,2800',
 'Marlow,2500',
 'Olson,2100',
 'Mallin,3300',
 'Rogers,2900',
 'Gee,2400',
 'Philtanker,2200',
 'Ladwig,3600',
 'Stiles,3200',
 'Seo,2700',
 'Patel,2500',
 'Rajs,3500',
 'Davies,3100',
 'Matos,2600',
 'Vargas,2500',
 'Russell,14000',
 'Partners,13500',
 'Errazuriz,12000',
 'Cambrault,11000',
 'Zlotkey,10500',
 'Tucker,10000',
 'Bernstein,9500',
 'Hall,9000',
 'Olsen,8000',
 'Cambrault,7500',
 'Tuvault,7000',
 'King,10000',
 'Sully,9500',
 'McEwen,9000',
 'Smith,8000',
 'Doran,7500',
 'Sewall,7000',
 'Vishney,10500',
 'Greene,9500',
 'Marvins,7200',
 'Lee,6800',
 'Ande,6400',
 'Banda,6200',
 'Ozer,11500',
 'Bloom,10000',
 'Fox,9600',
 'Smith,7400',
 'Bates,7300',
 'Kumar,6100',
 'Abel,11000',
 'Hutton,8800',
 'Taylor,8600',
 'Livingston,8400',
 'Grant,7000',
 'Johnson,6200',
 'Taylor,3200',
 'Fleaur,3100',
 'Sullivan,2500',
 'Geoni,2800',
 'Sarchand,4200',
 'Bull,4100',
 'Dellinger,3400',
 'Cabrio,3000',
 'Chung,3800',
 'Dilly,3600',
 'Gates,2900',
 'Perkins,2500',
 'Bell,4000',
 'Everett,3900',
 'McCain,3200',
 'Jones,2800',
 'Walsh,3100',
 'Feeney,3000',
 'OConnell,2600',
 'Grant,2600',
 'Whalen,4400',
 'Hartstein,13000',
 'Fay,6000',
 'Mavris,6500',
 'Baer,10000',
 'Higgins,12008',
 'Gietz,8300']

In [93]:
emp_list.sort(reverse = True)
emp_list

['Zlotkey,10500',
 'Whalen,4400',
 'Weiss,8000',
 'Walsh,3100',
 'Vollman,6500',
 'Vishney,10500',
 'Vargas,2500',
 'Urman,7800',
 'Tuvault,7000',
 'Tucker,10000',
 'Tobias,2800',
 'Taylor,8600',
 'Taylor,3200',
 'Sully,9500',
 'Sullivan,2500',
 'Stiles,3200',
 'Smith,8000',
 'Smith,7400',
 'Sewall,7000',
 'Seo,2700',
 'Sciarra,7700',
 'Sarchand,4200',
 'Russell,14000',
 'Rogers,2900',
 'Raphaely,11000',
 'Rajs,3500',
 'Popp,6900',
 'Philtanker,2200',
 'Perkins,2500',
 'Patel,2500',
 'Pataballa,4800',
 'Partners,13500',
 'Ozer,11500',
 'Olson,2100',
 'Olsen,8000',
 'OConnell,2600',
 'Nayer,3200',
 'Mourgos,5800',
 'Mikkilineni,2700',
 'McEwen,9000',
 'McCain,3200',
 'Mavris,6500',
 'Matos,2600',
 'Marvins,7200',
 'Marlow,2500',
 'Markle,2200',
 'Mallin,3300',
 'Lorentz,4200',
 'Livingston,8400',
 'Lee,6800',
 'Landry,2400',
 'Ladwig,3600',
 'LAST_NAME,SALARY',
 'Kumar,6100',
 'Kochhar,17000',
 'King,24000',
 'King,10000',
 'Khoo,3100',
 'Kaufling,7900',
 'Jones,2800',
 'Johnson,6200',
 'Hutton,8800',
 'Hunold,9000',
 'Himuro,2600',
 'Higgins,12008',
 'Hartstein,13000',
 'Hall,9000',
 'Greene,9500',
 'Greenberg,12008',
 'Grant,7000',
 'Grant,2600',
 'Gietz,8300',
 'Geoni,2800',
 'Gee,2400',
 'Gates,2900',
 'Fripp,8200',
 'Fox,9600',
 'Fleaur,3100',
 'Feeney,3000',
 'Fay,6000',
 'Faviet,9000',
 'Everett,3900',
 'Errazuriz,12000',
 'Ernst,6000',
 'Doran,7500',
 'Dilly,3600',
 'Dellinger,3400',
 'De Haan,17000',
 'Davies,3100',
 'Colmenares,2500',
 'Chung,3800',
 'Chen,8200',
 'Cambrault,7500',
 'Cambrault,11000',
 'Cabrio,3000',
 'Bull,4100',
 'Bloom,10000',
 'Bissot,3300',
 'Bernstein,9500',
 'Bell,4000',
 'Bates,7300',
 'Banda,6200',
 'Baida,2900',
 'Baer,10000',
 'Austin,4800',
 'Atkinson,2800',
 'Ande,6400',
 'Abel,11000']

In [94]:
#[선생님]

#sorted 할때 아래처럼 꼭 함수를 만들어 함수의 'return값'으로 key값을 출력할수 있도록 만들어 놔야됨

def sortCheck(data):
    return(data[1])
    
file = open("c:/R/emp.csv","r")
emp_csv=csv.reader(file)
emp_list = [] 
for i in emp_csv:
    emp_list.append(i)


#sortCheck : 위에만든함수
#sorted 주어진 key값을 기준으로 소트시켜주는 함수
#sorted 할때 key값은 꼭 위에 만든것처럼 함수를 만들어서 리턴값을 넣어줘야된다.

emp_list_sorted = sorted(emp_list, reverse=False, key=sortCheck)  

for i in emp_list_sorted:
    print(i[1],i[5])

Adam 2005/04/10
Alana 2006/04/24
Alberto 2005/03/10
Alexander 2006/01/03
Alexander 2003/05/18
Alexis 2005/02/20
Allan 2004/08/01
Alyssa 2005/03/19
Amit 2008/04/21
Anthony 2007/02/07
Britney 2005/03/03
Bruce 2007/05/21
Charles 2008/01/04
Christopher 2006/03/30
Clara 2005/11/11
Curtis 2005/01/29
Daniel 2002/08/16
Danielle 2007/03/19
David 2005/06/25
David 2005/03/24
David 2008/02/23
Den 2002/12/07
Diana 2007/02/07
Donald 2007/06/21
Douglas 2008/01/13
Eleni 2008/01/29
Elizabeth 2007/03/24
Ellen 2004/05/11
FIRST_NAME HIRE_DATE
Gerald 2007/10/15
Girard 2008/02/03
Guy 2006/11/15
Harrison 2006/03/23
Hazel 2008/02/06
Hermann 2002/06/07
Irene 2006/09/28
Ismael 2005/09/30
Jack 2006/04/23
James 2007/01/14
James 2005/02/16
Janette 2004/01/30
Jason 2004/06/14
Jean 2006/02/23
Jennifer 2005/08/13
Jennifer 2003/09/17
John 2005/09/28
John 2006/02/12
John 2004/10/01
Jonathon 2006/03/24
Jose Manuel 2006/03/07
Joshua 2006/04/06
Julia 2005/07/16
Julia 2006/06/24
Karen 2007/08/10
Karen 2005/01/05
Kelly 2005/06/14
Kevin 2007/11/16
Kevin 2006/05/23
Ki 2007/12/12
Kimberely 2007/05/24
Laura 2005/08/20
Lex 2001/01/13
Lindsey 2005/03/10
Lisa 2005/03/11
Louise 2005/12/15
Luis 2007/12/07
Martha 2007/06/21
Mattea 2008/01/24
Matthew 2004/07/18
Michael 2006/08/26
Michael 2004/02/17
Mozhe 2005/10/30
Nancy 2002/08/17
Nandita 2004/01/27
Nanette 2006/12/09
Neena 2005/09/21
Oliver 2007/11/23
Pat 2005/08/17
Patrick 2004/03/04
Payam 2003/05/01
Peter 2006/07/09
Peter 2005/01/30
Peter 2005/08/20
Randall 2006/03/15
Randall 2007/12/19
Renske 2003/07/14
Samuel 2006/07/01
Sarah 2004/02/04
Sarath 2006/11/03
Shanta 2005/10/10
Shelley 2002/06/07
Shelli 2005/12/24
Sigal 2005/07/24
Stephen 2005/10/26
Steven 2003/06/17
Steven 2008/03/08
Sundar 2008/03/24
Sundita 2008/04/21
Susan 2002/06/07
TJ 2007/04/10
Tayler 2006/01/24
Timothy 2006/07/11
Trenna 2003/10/17
Valli 2006/02/05
Vance 2007/03/17
William 2007/02/23
William 2002/06/07
Winston 2006/01/24

In [ ]:
ㅁ 람다(lambda) 함수
- 이름이 없는 한줄짜리 함수
- 가독성을 위해서
- 함수를 인수로 넘겨줘야 할때

def f1(x,y):
	return x*y

f1(2,3)
Out[155]: 6

	#람다문으로! 바꿔보자

(lambda x,y : x*y)(2,3)
Out[156]: 6
#람다함수는 이름이 없음.. 그래서 괄호안에 들어가있음...
#변수호출해서 변수이름을 람다이름인것처럼 사용은 가능하다

f1 = lambda x,y : x*y

f1(2,3)

In [230]:
#람다 사용해서 103 번 문제 풀기

file = open("c:/R/emp.csv","r")
emp_csv=csv.reader(file)
emp_list = [] 
for i in emp_csv:
    emp_list.append(i)

emp_list_sorted = sorted(emp_list, reverse=False, key=(lambda data: data[1]))

for i in emp_list_sorted:
    print(i[1],i[5])

Adam 2005/04/10
Alana 2006/04/24
Alberto 2005/03/10
Alexander 2006/01/03
Alexander 2003/05/18
Alexis 2005/02/20
Allan 2004/08/01
Alyssa 2005/03/19
Amit 2008/04/21
Anthony 2007/02/07
Britney 2005/03/03
Bruce 2007/05/21
Charles 2008/01/04
Christopher 2006/03/30
Clara 2005/11/11
Curtis 2005/01/29
Daniel 2002/08/16
Danielle 2007/03/19
David 2005/06/25
David 2005/03/24
David 2008/02/23
Den 2002/12/07
Diana 2007/02/07
Donald 2007/06/21
Douglas 2008/01/13
Eleni 2008/01/29
Elizabeth 2007/03/24
Ellen 2004/05/11
FIRST_NAME HIRE_DATE
Gerald 2007/10/15
Girard 2008/02/03
Guy 2006/11/15
Harrison 2006/03/23
Hazel 2008/02/06
Hermann 2002/06/07
Irene 2006/09/28
Ismael 2005/09/30
Jack 2006/04/23
James 2007/01/14
James 2005/02/16
Janette 2004/01/30
Jason 2004/06/14
Jean 2006/02/23
Jennifer 2005/08/13
Jennifer 2003/09/17
John 2005/09/28
John 2006/02/12
John 2004/10/01
Jonathon 2006/03/24
Jose Manuel 2006/03/07
Joshua 2006/04/06
Julia 2005/07/16
Julia 2006/06/24
Karen 2007/08/10
Karen 2005/01/05
Kelly 2005/06/14
Kevin 2007/11/16
Kevin 2006/05/23
Ki 2007/12/12
Kimberely 2007/05/24
Laura 2005/08/20
Lex 2001/01/13
Lindsey 2005/03/10
Lisa 2005/03/11
Louise 2005/12/15
Luis 2007/12/07
Martha 2007/06/21
Mattea 2008/01/24
Matthew 2004/07/18
Michael 2006/08/26
Michael 2004/02/17
Mozhe 2005/10/30
Nancy 2002/08/17
Nandita 2004/01/27
Nanette 2006/12/09
Neena 2005/09/21
Oliver 2007/11/23
Pat 2005/08/17
Patrick 2004/03/04
Payam 2003/05/01
Peter 2006/07/09
Peter 2005/01/30
Peter 2005/08/20
Randall 2006/03/15
Randall 2007/12/19
Renske 2003/07/14
Samuel 2006/07/01
Sarah 2004/02/04
Sarath 2006/11/03
Shanta 2005/10/10
Shelley 2002/06/07
Shelli 2005/12/24
Sigal 2005/07/24
Stephen 2005/10/26
Steven 2003/06/17
Steven 2008/03/08
Sundar 2008/03/24
Sundita 2008/04/21
Susan 2002/06/07
TJ 2007/04/10
Tayler 2006/01/24
Timothy 2006/07/11
Trenna 2003/10/17
Valli 2006/02/05
Vance 2007/03/17
William 2007/02/23
William 2002/06/07
Winston 2006/01/24

In [244]:
#정렬 + 정렬 할려면? itemgetter(2,7) 에 정렬할 키값들을 입력해주면됨

#위에 함수 만들거나 람다로 만들거나 하는게  불편하니까.... 아래 모듈이 제공됨
from operator import itemgetter

file = open("c:\R\emp.csv","r")
emp_csv = csv.reader(file)
emp_list=[]
for i in emp_csv:
    emp_list.append(i)
emp_list_sorted = sorted(emp_list, reverse=False, key=itemgetter(2,7))
#emp_list_sorted = sorted(emp_list, reverse=False, key=(lambda x: [x[2],x[7]]))

emp_list_sorted

for i in emp_list_sorted:
    print(i[2],i[7],i[8])

Abel 11000 0.3
Ande 6400 0.1
Atkinson 2800
Austin 4800
Baer 10000
Baida 2900
Banda 6200 0.1
Bates 7300 0.15
Bell 4000
Bernstein 9500 0.25
Bissot 3300
Bloom 10000 0.2
Bull 4100
Cabrio 3000
Cambrault 11000 0.3
Cambrault 7500 0.2
Chen 8200
Chung 3800
Colmenares 2500
Davies 3100
De Haan 17000
Dellinger 3400
Dilly 3600
Doran 7500 0.3
Ernst 6000
Errazuriz 12000 0.3
Everett 3900
Faviet 9000
Fay 6000
Feeney 3000
Fleaur 3100
Fox 9600 0.2
Fripp 8200
Gates 2900
Gee 2400
Geoni 2800
Gietz 8300
Grant 2600
Grant 7000 0.15
Greenberg 12008
Greene 9500 0.15
Hall 9000 0.25
Hartstein 13000
Higgins 12008
Himuro 2600
Hunold 9000
Hutton 8800 0.25
Johnson 6200 0.1
Jones 2800
Kaufling 7900
Khoo 3100
King 10000 0.35
King 24000
Kochhar 17000
Kumar 6100 0.1
LAST_NAME SALARY COMMISSION_PCT
Ladwig 3600
Landry 2400
Lee 6800 0.1
Livingston 8400 0.2
Lorentz 4200
Mallin 3300
Markle 2200
Marlow 2500
Marvins 7200 0.1
Matos 2600
Mavris 6500
McCain 3200
McEwen 9000 0.35
Mikkilineni 2700
Mourgos 5800
Nayer 3200
OConnell 2600
Olsen 8000 0.2
Olson 2100
Ozer 11500 0.25
Partners 13500 0.3
Pataballa 4800
Patel 2500
Perkins 2500
Philtanker 2200
Popp 6900
Rajs 3500
Raphaely 11000
Rogers 2900
Russell 14000 0.4
Sarchand 4200
Sciarra 7700
Seo 2700
Sewall 7000 0.25
Smith 7400 0.15
Smith 8000 0.3
Stiles 3200
Sullivan 2500
Sully 9500 0.35
Taylor 3200
Taylor 8600 0.2
Tobias 2800
Tucker 10000 0.3
Tuvault 7000 0.15
Urman 7800
Vargas 2500
Vishney 10500 0.25
Vollman 6500
Walsh 3100
Weiss 8000
Whalen 4400
Zlotkey 10500 0.2

In [ ]:
[문제104] Job ST_CLERK인 사원들의 이름과 입사일과 Job을 출력하는데 가장 최근에 입사한 사원부터
	출력하세요.

In [214]:
from operator import itemgetter
import csv

file = open("c:\R\emp.csv","r")
emp_csv = csv.reader(file)

emp_list = []
[emp_list.append(i) for i in emp_csv if i[6] == 'ST_CLERK']

#sorted_list = sorted(emp_list, reverse = False, key=(lambda column: column[5])) #lambda 사용
sorted_list = sorted(emp_list, reverse = False, key=itemgetter(5))#itemgetter 사용
[print(i[0],i[1],i[5]) for i in sorted_list]

137 Renske 2003/07/14
141 Trenna 2003/10/17
133 Jason 2004/06/14
142 Curtis 2005/01/29
131 James 2005/02/16
125 Julia 2005/07/16
129 Laura 2005/08/20
138 Stephen 2005/10/26
130 Mozhe 2005/10/30
139 John 2006/02/12
143 Randall 2006/03/15
140 Joshua 2006/04/06
144 Peter 2006/07/09
134 Michael 2006/08/26
126 Irene 2006/09/28
127 James 2007/01/14
132 TJ 2007/04/10
135 Ki 2007/12/12
136 Hazel 2008/02/06
128 Steven 2008/03/08

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제 105] 부서별 급여의 총액을 구하세요

In [155]:
import csv

file = open("c:\python\emp1.csv","r")
emp_csv = csv.reader(file)

emp_list = []
[emp_list.append(i) for i in emp_csv]

job_list = []
[job_list.append(i[2]) for i in emp_list]
job_list=set(job_list)


for i in job_list:
    sal = 0
    for n in emp_list:
        if n[2] == i:
            sal += float(n[5])        
    print(i,sal)

AD_PRES 24000.0
SA_REP 250500.0
MK_REP 6000.0
AD_VP 34000.0
FI_ACCOUNT 40500.0
ST_CLERK 55700.0
FI_MGR 13208.8
AC_ACCOUNT 8300.0
ST_MAN 36400.0
AD_ASST 4400.0
PU_CLERK 13900.0
MK_MAN 13000.0
PR_REP 10000.0
AC_MGR 12008.0
SA_MAN 61000.0
HR_REP 6500.0
PU_MAN 11000.0
SH_CLERK 64300.0
IT_PROG 28800.0

In [150]:
#dictionary 이용
import csv

file = open("c:\python\emp1.csv","r")
emp_csv = csv.reader(file)
dept_sum={}
for emp_list in emp_csv:
    if emp_list[2] in dept_sum:
        dept_sum[emp_list[2]] = float(dept_sum[emp_list[2]])+float(emp_list[5])
    else:
        dept_sum[emp_list[2]] = float(emp_list[5])

for k,v in dept_sum.items():
    print(k,v)

AD_PRES 24000.0
AD_VP 34000.0
IT_PROG 28800.0
FI_MGR 13208.8
FI_ACCOUNT 40500.0
PU_MAN 11000.0
PU_CLERK 13900.0
ST_MAN 36400.0
ST_CLERK 55700.0
SA_MAN 61000.0
SA_REP 250500.0
SH_CLERK 64300.0
AD_ASST 4400.0
MK_MAN 13000.0
MK_REP 6000.0
HR_REP 6500.0
PR_REP 10000.0
AC_MGR 12008.0
AC_ACCOUNT 8300.0

In [ ]:
[숙제] 105번 문제를 아래처럼 정렬해서 출력해주세요

10 4400.0
20 24900.0
30 24900.0
40 6500.0
....

In [1]:
import csv
from operator import itemgetter

file = open("c:\python\emp1.csv","r")
emp_csv = csv.reader(file)

emp_list = []
[emp_list.append(i) for i in emp_csv]

job_id = {}
for i in emp_list:
    if i[7] in job_id:
        job_id[i[7]] = float(job_id[i[7]])+float(i[5])
    else:
        job_id[i[7]] = float(i[5])

job_sum = []
for k,v in job_id.items():
    if k == '':
        job_sum.append(['0',v])     #null 값 있으면 정렬이 제대로 안됨
    else:
        job_sum.append([k,v])

job_sum_s = sorted(job_sum, reverse= False, key=(lambda data: int(data[0])))
job_sum_s

[['0', 7000.0],
 ['10', 4400.0],
 ['20', 19000.0],
 ['30', 24900.0],
 ['40', 6500.0],
 ['50', 156400.0],
 ['60', 28800.0],
 ['70', 10000.0],
 ['80', 304500.0],
 ['90', 58000.0],
 ['100', 53708.8],
 ['110', 8300.0],
 ['510', 12008.0]]