In [ ]:
[문제26] 여러 값을 동일한 변수에 순차적으로 저장할수 있는 용도의 변수 타입과 부호는 ?

In [ ]:
list , []

In [ ]:
[문제27] x 리스트 변수에 1, 3, 5, 7, 9 를 입력하세요

In [46]:
x = [1,3,5,7,9]
x

[1, 3, 5, 7, 9]

In [ ]:
[문제28] x 변수에 타입을 확인하세요.

In [4]:
type(x)

list

In [ ]:
[문제29] x변수에 첫번째값을 확인해주세요

In [5]:
x[0]

1

In [ ]:
[문제30] x변수에 제일뒤에 값을 확인해주세요

In [6]:
x[-1]

9

In [ ]:
[문제31] x변수에 10를 제일 뒤에 추가해주세요.

In [47]:
x.append(10)
x

[1, 3, 5, 7, 9, 10]

In [ ]:
[문제32] x변수에 있는 값들중에 10을 삭제해주세요

In [48]:
x.remove(10)
x

[1, 3, 5, 7, 9]

In [ ]:
[문제33] x변수에 1번색인위치에 2를 입력하세요.

In [49]:
x[1]=2
x

[1, 2, 5, 7, 9]

In [ ]:
[문제34] x변수에 1번색인값을 제거해주세요.

In [50]:
del x[1]
x

[1, 5, 7, 9]

In [ ]:
[문제35] x 변수에 첫번째 부터  세번째까지 값을 출력해주세요.

In [51]:
x[0:3]

[1, 5, 7]

In [ ]:
[문제36] x 변수에 제일뒤에서 두개 값을 출력해주세요.

In [52]:
x[-2:]

[7, 9]

In [ ]:
[문제37] x 변수를 y변수에 대입한 후 y변수에 10을 추가한 후 x값도 확인 한 후 분석해주세요.

In [55]:
y = x
y.append(10)
y

[1, 5, 7, 9, 10, 10]

In [ ]:

[문제38] x변수를 z변수에 복사하지만 고유한 변수로 생성해주시고 z변수에 13을 추가 해주세요.

#고유한 변수 == id 주소를 다르게 갖는 변수 
#방법1 == [:]메소드를 사용
#방법2 == copy 모듈을 사용해서 copy.deepcopy() 함수 사용

In [56]:
z=[]
z=x[:]
z.append(13)
z

[1, 5, 7, 9, 10, 10, 13]

In [ ]:
[문제39] 
    x = [1,2,3]
    y = [4,5,6]
    y변수에 값을 x 변수에 넣어주세요.

In [57]:
x = [1,2,3]
y = [4,5,6]

In [58]:
x+=y
x

[1, 2, 3, 4, 5, 6]

In [ ]:
[문제40] x 변수에 1번 인덱스의 값을 제거해주세요.

In [59]:
del x[1]
x

[1, 3, 4, 5, 6]

In [ ]:
[문제41] x변수에 1번 부터 3번 인덱스를 제거해주세요.

In [60]:
del x[1:3]
x

[1, 5, 6]

In [ ]:
[문제42] 중첩리스트를 이용할때 첫번째 항목의 첫번째 항목의 값을 추출해주세요.
x = [[1,2,3],[4,5,6]]

In [67]:
x = [[1,2,3],[4,5,6]]
x[0][0]

1

In [ ]:
[문제43] 리스트형과 비슷하지만 요소의 값을 변경 할 수 없는 타입과 부호는 ?

In [ ]:
tuple, ()

In [ ]:
[문제44] 키, 값을 저장하는 데이터 타입과 부호는 ?

In [ ]:
dictionary, {}

In [ ]:
[문제45]  아래와 같은 내용을 변수에 입력해주세요. 변수이름은 dict

           이름 : '홍길동'
           나이 : 30
           직업 : '파이썬개발자'

In [102]:
dict = {'이름':'홍길동','나이':35,'직업':'파이썬개발자'}
dict

{'이름': '홍길동', '나이': 35, '직업': '파이썬개발자'}

In [ ]:
[문제46] dict변수 키를 출력하세요.

In [94]:
dict.keys()

dict_keys(['이름', '나이', '직업'])

In [ ]:
[문제47] dict변수 값을 출력하세요.

In [95]:
dict.values()

dict_values(['홍길동', 35, '파이썬개발자'])

In [ ]:
[문제48] dict변수의 키, 값을 출력해주세요.

In [96]:
dict.items()

dict_items([('이름', '홍길동'), ('나이', 35), ('직업', '파이썬개발자')])

In [ ]:
[문제49] dict변수의 이름만 출력해주세요.

In [78]:
dict['이름']

'홍길동'

In [ ]:
[문제50] dict변수의 주소 = '서울' 추가해주세요

In [103]:
dict['주소'] = '서울'
dict

{'이름': '홍길동', '나이': 35, '직업': '파이썬개발자', '주소': '서울'}

In [ ]:
[문제51]  dict변수의 나이값을 32 수정하세요.

In [106]:
dict['나이'] = 32
dict

{'이름': '홍길동', '나이': 32, '직업': '파이썬개발자', '주소': '서울'}

In [ ]:
[문제52] 구구단을 만드세요. 

2단에서 9단까지만 입력하세요, [0은 구구단 전부를 출력합니다.]:

In [133]:
def dubles():
    fir_n = int(input('몇단을 외울까요? 0은 구구단 전부를 출력합니다. : '))
    if fir_n > 9 or fir_n == 1:
        print('2단에서 9단까지 출력해주세요. 0은 구구단 전부를 출력합니다.')
    elif fir_n == 0:  
        print('구구단 전체를 출력합니다.')
        for i in range(2,10):
            for n in range(2,10):
                print('%s * %s = %s'%(i,n,i*n))
    else:
        print('%s단을 출력합니다.'%fir_n)
        for i in range(2,10):
            print('%s * %s = %s'%(fir_n,i,fir_n*i))
dubles()

몇단을 외울까요? 0은 구구단 전부를 출력합니다. : 11
2단에서 9단까지 출력해주세요. 0은 구구단 전부를 출력합니다.

In [ ]:
[문제53]lst 변수에 a,b,c,d값이 있습니다. for문을 이용하여 아래화면과 같이 출력하세요.

0번 a값이 있습니다.
1번 b값이 있습니다.
2번 c값이 있습니다.
3번 d값이 있습니다.

In [134]:
lst = ['a','b','c','d']

In [137]:
for i in range(len(lst)):
    print('%s번 %s값이 있습니다.'%(i,lst[i]))

0번 a값이 있습니다.
1번 b값이 있습니다.
2번 c값이 있습니다.
3번 d값이 있습니다.

In [ ]:
[문제54] 1부터 9까지 x 리스트 변수에 넣어주시고
         y변수는 x 변수의 값을 2곱한 값으로 넣어 주세요.

In [190]:
x = list(range(1,10))
y = list(range(len(x)))

In [191]:
for i in range(len(x)):
    y[i] = x[i] *2
y

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [193]:
x = list(range(1,10))
y=[]
for i in x:
    y.append(i*2)
y

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
[문제55] apple, banana, orange  리스트 변수에 값을 입력하시고 이 값들의 길이를 출력해주세요.

In [199]:
x = ['apple','banana','orange']
x

['apple', 'banana', 'orange']

In [201]:
for i in x:
    print(len(i))

5
6
6

In [205]:
[len(i) for i in x]

[5, 6, 6]

In [ ]:
[문제56] 변수에 값이 들어 있습니다.

lst1 = [1,2,3]
lst2 = [4,5,6]

아래처럼 만들어보세요~

[4,5,6,8,10,12,15,18]

In [206]:
lst1 = [1,2,3]
lst2 = [4,5,6]

In [208]:
x = []
for i in lst1:
    for n in lst2:
        x.append(i*n)
x

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [220]:
x = [i*n for i in lst1 for n in lst2]
x

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [ ]:
[문제57]  1부터 100까지 값중에 짝수만 x 변수에 넣어 주세요.

In [224]:
[i for i in range(1,101) if i%2 == 0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [ ]:
[문제58] 튜플변수에 사과, 귤, 오렌지, 배, 포도, 바나나, 자몽, 키위, 딸기, 블루베리, 망고를 입력하시고 
과일이름중에 세글자 이상인 과일 fruit_lst변수에 입력해주세요.

In [225]:
x = ('사과','귤','오렌지','배','포도','바나나','자몽','키위','딸기','블루베리','망고')

In [227]:
fruit_lst = [i for i in x if len(i) >= 3]
fruit_lst

['오렌지', '바나나', '블루베리']

In [ ]:
[문제 59] 딕셔너리 변수에 값이 들어있습니다.
과일이름을 대문자로 출력해주세요.

dict = {100:'apple',200:'banana',300:'orange'}

In [1]:
[i.upper() for i in dict.values()]

TypeError: descriptor 'values' of 'dict' object needs an argument