In [ ]:
[문제69] 프로그램을 생성하세요.

액수입력 : 362
화폐단위를 입력하세요 : 100 50 1
1원 : 12개
50원 : 1개
100원 : 3개

In [60]:
def leftMoney():
    m = int(input('액수 입력 : '))
    unit = [int(x) for x in input('화폐단위를 입력하세요 : ').split(' ')]
    unit.sort(reverse=True)
    re = 0    
    for i in unit:        
        re, m = divmod(m,i)
        print('%s원 : %s개'%(i,re))
    
leftMoney()

액수 입력 : 3620
화폐단위를 입력하세요 : 1000 100 50 1
1000원 : 3개
100원 : 6개
50원 : 0개
1원 : 20개

In [ ]:
ㅁ 날짜

In [66]:
import datetime

In [71]:
d = datetime.date.today()
datetime.date.today()

datetime.date(2019, 5, 20)

In [74]:
d.year

2019

In [75]:
d.day

20

In [76]:
d.month

5

In [79]:
#날짜형으로 바꾸어주기!

d1 = datetime.date(2018,3,7)
d1

datetime.date(2018, 3, 7)

In [80]:
#날짜 수정
d1.replace(day = 10)

datetime.date(2018, 3, 10)

In [81]:
d1.replace(year=2019, month=5, day=20)

datetime.date(2019, 5, 20)

In [83]:
#날짜 + 시간까지
dt=datetime.datetime.now()
dt

datetime.datetime(2019, 5, 20, 23, 22, 41, 42072)

In [84]:
dt.year

2019

In [85]:
dt.month

5

In [86]:
dt.day

20

In [87]:
dt.hour

23

In [88]:
dt.minute

22

In [89]:
dt.second

41

In [90]:
dt.microsecond

42072

In [91]:
dt.date()

datetime.date(2019, 5, 20)

In [92]:
dt.time()

datetime.time(23, 22, 41, 42072)

In [93]:
dt.weekday()

0

In [ ]:
[문제71] 오늘이 무슨 요일인지 출력해주세요.

In [99]:
import datetime 
dt = datetime.datetime.now()
dt.weekday()

0

In [100]:
weekdays = ['월요일','화요일','수요일','목요일','금요일','토요일','일요일']
print(weekdays[dt.weekday()])

월요일

In [101]:
#날짜를 문자형으로 변환하기
dt.strftime("%Y%m%d")

'20190520'

In [102]:
dt.strftime("%Y %m %d %H %S %A %B")

'2019 05 20 23 55 Monday May'

In [103]:
####
    %Y : 년도 

    %m : 월 

    %d : 일 

    %H : 시간 

    %S : 분

    %A : 요일 

    %B : 달월
###

UsageError: Line magic function `%Y` not found.

In [106]:
#날짜를 문자형,원하는 포맷으로 변환하기
datetime.datetime.strptime("2019-05-20 15:48:00", "%Y-%m-%d %H:%M:%S")

datetime.datetime(2019, 5, 20, 15, 48)

In [109]:
# 시간정보만 표현하는 함수 : datetime.time(arg)
datetime.date(2018,3,7)

datetime.date(2018, 3, 7)

In [110]:
datetime.time(15,53,00)

datetime.time(15, 53)

In [112]:
# datetime.combine()

d = datetime.date(2018,3,7)
t = datetime.time(15,53,00)

datetime.combine(d,t)

AttributeError: module 'datetime' has no attribute 'combine'

In [ ]:
# timedelta

d = date.today
d
>
datetime.date(2018, 3, 7)


td = timedelta(days = 100)
td
>
Out[235]: datetime.timedelta(100)

d + td
>
Out[239]: datetime.date(2018, 6, 15)

In [ ]:
[문제72] 함수에 인수값으로 현재날짜, 일수 정보를 입력하면 더한 날짜정보가 리턴하는 next_day함수를 생성하세요.

In [121]:
from datetime import *

def next_day():
    
    sum_date = timedelta(int(input('더할날자를 입력해 주세요 :')))
    date = datetime.now()
    
    next_day = date+sum_date
    return(next_day.strftime("%Y-%m-%d"))
    
next_day()

더할날자를 입력해 주세요 :100

'2019-08-29'

In [123]:
from datetime import *
def next_day(arg1,arg2):
    return(arg1 + timedelta(days=arg2))

print(next_day(date.today(),100))

2019-08-29

In [125]:
# 날짜 수식 계산
dt1 = datetime(2018,3,7,16)
dt1

datetime.datetime(2018, 3, 7, 16, 0)

In [126]:
dt2 = datetime(2018,2,7,16)
dt2

datetime.datetime(2018, 2, 7, 16, 0)

In [127]:
td = dt1 - dt2
td

datetime.timedelta(days=28)

In [128]:
td.days

28

In [129]:
td.seconds

0

In [130]:
td.microseconds

0

In [131]:
td.total_seconds() #모든 값들을 초단위로 모아서 변환

2419200.0

In [ ]:
[문제73] 아래와 같은 결과가 출력될수 있도록 프로그램을 생성하세요


1에서 천만까지 짝수합, 홀수합 구합니다
1에서 천만까지 짝수합: 24999995000000
1에서 천만까지 홀수합: 25000000000000
처리시간 : 0:00:01.950003
처리시간 millisecond(1/1000)  : 1950ms

In [184]:
from datetime import *

def sums():
    odd_sum = 0
    even_sum = 0
    s_time = datetime.now()
    for i in range(1,10000001):
        if i%2 == 0:
            even_sum += i
        elif i%2 != 0:
            odd_sum += i
    e_time = datetime.now()
    
    time_delta = e_time - s_time
    
    print("1에서 천만까지 짝수합, 홀수합 구합니다")
    print("1에서 천만까지 짝수합: ",even_sum)
    print("1에서 천만까지 홀수합: ",odd_sum)
    print("처리시간 : ",time_delta)
    ms = int(time_delta.total_seconds()*1000)
    print("처리시간 millisecond(1/1000): {}ms".format(ms))

In [185]:
sums()

1에서 천만까지 짝수합, 홀수합 구합니다
1에서 천만까지 짝수합:  25000005000000
1에서 천만까지 홀수합:  25000000000000
처리시간 :  0:00:01.917294
처리시간 millisecond(1/1000): 1917ms