In [2]:
import time

In [3]:
#1970년 1월 1일 자정 이후 누적된 초
time.time()

1558424375.521871

In [4]:
# 초만큼 정지시킨다.
time.sleep(10)

KeyboardInterrupt:

In [5]:
#현재시간
time.localtime()

time.struct_time(tm_year=2019, tm_mon=5, tm_mday=21, tm_hour=16, tm_min=40, tm_sec=37, tm_wday=1, tm_yday=141, tm_isdst=0)

In [6]:
t=time.time()
time.localtime(t)  #localtime()서버의 시간

time.struct_time(tm_year=2019, tm_mon=5, tm_mday=21, tm_hour=16, tm_min=41, tm_sec=52, tm_wday=1, tm_yday=141, tm_isdst=0)

In [ ]:
tm_yday : 1월 1일 부터 오늘 까지 누적된 날짜(1~366)

wm_wday : 요일을 숫자로 출력, 월0 ~일6

tm_isdst : 일광적약 시간(서머타임) 0, 1, -1

In [7]:
time.localtime().tm_yday

141

In [9]:
t1 = time.localtime()
t1.tm_mon

5

In [10]:
#현재시간 보기쉽게 출력해주는 모듈
time.asctime()

'Tue May 21 16:44:48 2019'

In [12]:
time.ctime()

'Tue May 21 16:45:11 2019'

In [ ]:
#time.mktime() 날짜를 초로 환산함 소숫점 자릿수는 trunc함

In [14]:
time.mktime(time.localtime())

1558424809.0

In [15]:
# time.gmtime() 초를 날짜로 환산함 소숫점 자릿수는 입력 안함
time.gmtime(1234567890)

time.struct_time(tm_year=2009, tm_mon=2, tm_mday=13, tm_hour=23, tm_min=31, tm_sec=30, tm_wday=4, tm_yday=44, tm_isdst=0)

In [ ]:
# 입력한 시간 (time.localtime())을 내가 원하는 format으로 변환해 출력해주는 모듈

In [19]:
time.strftime('%y %Y %m %B %b %d',time.localtime())

'19 2019 05 May May 21'

In [20]:
time.strftime('%H %I %M %S %p',time.localtime())

'16 04 51 34 PM'

In [21]:
time.strftime('%A %a %w %j',time.localtime())

'Tuesday Tue 2 141'

In [22]:
time.strftime('%x %X',time.localtime())

'05/21/19 16:53:32'

In [23]:
time.strftime('%W %u %z',time.localtime())

'20 2 +0900'

In [ ]:

%I : 12시간으로 환산한 시간
%M : 분
%S : 초
%p : AM,PM
%

%A : 요일 full
%a : 요일 약자
%w : 숫자요일	0:일요일, 1:월요일 
%j : 1월1일 부터 누적된 날짜(1~366)
%c : 날짜, 시간
%x : 월/일/년도
%X : 시:분:초
%W : 누적된 주(월요일을 시작으로 본)
%U : 누적된 주(일요일을 시작으로 본)
%z : 시간대(대한민국 표준시)	+0900

In [ ]:
#날짜시간 format 변환 해주는 모듈들 3가지 정리
strftime : 시간 -> 문자열
strptime : 문자열 -> 시간

In [26]:
time.strptime('2018 7 8','%Y %m %d')

time.struct_time(tm_year=2018, tm_mon=7, tm_mday=8, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=189, tm_isdst=-1)

In [ ]:
## 달력을 표시하는 모듈

In [27]:
import calendar

In [29]:
print(calendar.calendar(2019))

                                  2019

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [34]:
print(calendar.prmonth(2019,5)) #해당 연의 해당 달에 달력출력

      May 2019
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31
None

In [40]:
calendar.weekday(2019,5,8) #그달의 첫째날짜의 요일, 마지막 일

2

In [41]:
calendar.monthrange(2019,5) #그 달의 일수

(2, 31)

In [ ]:
ㅁ csv

In [42]:
import csv

In [50]:
file = open("C:\python\emp1.csv","r")

In [52]:
emp_csv = csv.reader(file)
for emp_list in emp_csv:
    print(emp_list)

['100', 'King', 'AD_PRES', '', '2003-06-17', '24000', '', '90']
['101', 'Kochhar', 'AD_VP', '100', '2005-09-21', '17000', '', '90']
['102', 'De Haan', 'AD_VP', '100', '2001-01-13', '17000', '', '90']
['103', 'Hunold', 'IT_PROG', '102', '2006-01-03', '9000', '', '60']
['104', 'Ernst', 'IT_PROG', '103', '2007-05-21', '6000', '', '60']
['105', 'Austin', 'IT_PROG', '103', '2005-06-25', '4800', '', '60']
['106', 'Pataballa', 'IT_PROG', '103', '2006-02-05', '4800', '', '60']
['107', 'Lorentz', 'IT_PROG', '103', '2007-02-07', '4200', '', '60']
['108', 'Greenberg', 'FI_MGR', '101', '2002-08-17', '13208.8', '', '100']
['109', 'Faviet', 'FI_ACCOUNT', '108', '2002-08-16', '9900', '', '100']
['110', 'Chen', 'FI_ACCOUNT', '108', '2005-09-28', '8200', '', '100']
['111', 'Sciarra', 'FI_ACCOUNT', '108', '2005-09-30', '7700', '', '100']
['112', 'Urman', 'FI_ACCOUNT', '108', '2006-03-07', '7800', '', '100']
['113', 'Popp', 'FI_ACCOUNT', '108', '2007-12-07', '6900', '', '100']
['114', 'Raphaely', 'PU_MAN', '100', '2002-12-07', '11000', '', '30']
['115', 'Khoo', 'PU_CLERK', '114', '2003-05-18', '3100', '', '30']
['116', 'Baida', 'PU_CLERK', '114', '2005-12-24', '2900', '', '30']
['117', 'Tobias', 'PU_CLERK', '114', '2005-07-24', '2800', '', '30']
['118', 'Himuro', 'PU_CLERK', '114', '2006-11-15', '2600', '', '30']
['119', 'Colmeres', 'PU_CLERK', '114', '2007-08-10', '2500', '', '30']
['120', 'Weiss', 'ST_MAN', '100', '2004-07-18', '8000', '', '50']
['121', 'Fripp', 'ST_MAN', '100', '2005-04-10', '8200', '', '50']
['122', 'Kaufling', 'ST_MAN', '100', '2003-05-01', '7900', '', '50']
['123', 'Vollman', 'ST_MAN', '100', '2005-10-10', '6500', '', '50']
['124', 'Mourgos', 'ST_MAN', '100', '2007-11-16', '5800', '', '50']
['125', 'yer', 'ST_CLERK', '120', '2005-07-16', '3200', '', '50']
['126', 'Mikkilineni', 'ST_CLERK', '120', '2006-09-28', '2700', '', '50']
['127', 'Landry', 'ST_CLERK', '120', '2007-01-14', '2400', '', '50']
['128', 'Markle', 'ST_CLERK', '120', '2008-03-08', '2200', '', '50']
['129', 'Bissot', 'ST_CLERK', '121', '2005-08-20', '3300', '', '50']
['130', 'Atkinson', 'ST_CLERK', '121', '2005-10-30', '2800', '', '50']
['131', 'Marlow', 'ST_CLERK', '121', '2005-02-16', '2500', '', '50']
['132', 'Olson', 'ST_CLERK', '121', '2007-04-10', '2100', '', '50']
['133', 'Mallin', 'ST_CLERK', '122', '2004-06-14', '3300', '', '50']
['134', 'Rogers', 'ST_CLERK', '122', '2006-08-26', '2900', '', '50']
['135', 'Gee', 'ST_CLERK', '122', '2007-12-12', '2400', '', '50']
['136', 'Philtanker', 'ST_CLERK', '122', '2008-02-06', '2200', '', '50']
['137', 'Ladwig', 'ST_CLERK', '123', '2003-07-14', '3600', '', '50']
['138', 'Stiles', 'ST_CLERK', '123', '2005-10-26', '3200', '', '50']
['139', 'Seo', 'ST_CLERK', '123', '2006-02-12', '2700', '', '50']
['140', 'Patel', 'ST_CLERK', '123', '2006-04-06', '2500', '', '50']
['141', 'Rajs', 'ST_CLERK', '124', '2003-10-17', '3500', '', '50']
['142', 'Davies', 'ST_CLERK', '124', '2005-01-29', '3100', '', '50']
['143', 'Matos', 'ST_CLERK', '124', '2006-03-15', '2600', '', '50']
['144', 'Vargas', 'ST_CLERK', '124', '2006-07-09', '2500', '', '50']
['145', 'Russell', 'SA_MAN', '100', '2004-10-01', '14000', '0.4', '80']
['146', 'Partners', 'SA_MAN', '100', '2005-01-05', '13500', '0.3', '80']
['147', 'Errazuriz', 'SA_MAN', '100', '2005-03-10', '12000', '0.3', '80']
['148', 'Cambrault', 'SA_MAN', '100', '2007-10-15', '11000', '0.3', '80']
['149', 'Zlotkey', 'SA_MAN', '100', '2008-01-29', '10500', '0.2', '80']
['150', 'Tucker', 'SA_REP', '145', '2005-01-30', '10000', '0.3', '80']
['151', 'Bernstein', 'SA_REP', '145', '2005-03-24', '9500', '0.25', '80']
['152', 'Hall', 'SA_REP', '145', '2005-08-20', '9000', '0.25', '80']
['153', 'Olsen', 'SA_REP', '145', '2006-03-30', '8000', '0.2', '80']
['154', 'Cambrault', 'SA_REP', '145', '2006-12-09', '7500', '0.2', '80']
['155', 'Tuvault', 'SA_REP', '145', '2007-11-23', '7000', '0.15', '80']
['156', 'King', 'SA_REP', '146', '2004-01-30', '10000', '0.35', '80']
['157', 'Sully', 'SA_REP', '146', '2004-03-04', '9500', '0.35', '80']
['158', 'McEwen', 'SA_REP', '146', '2004-08-01', '9000', '0.35', '80']
['159', 'Smith', 'SA_REP', '146', '2005-03-10', '8000', '0.3', '80']
['160', 'Doran', 'SA_REP', '146', '2005-12-15', '7500', '0.3', '80']
['161', 'Sewall', 'SA_REP', '146', '2006-11-03', '7000', '0.25', '80']
['162', 'Vishney', 'SA_REP', '147', '2005-11-11', '10500', '0.25', '80']
['163', 'Greene', 'SA_REP', '147', '2007-03-19', '9500', '0.15', '80']
['164', 'Marvins', 'SA_REP', '147', '2008-01-24', '7200', '0.1', '80']
['165', 'Lee', 'SA_REP', '147', '2008-02-23', '6800', '0.1', '80']
['166', 'Ande', 'SA_REP', '147', '2008-03-24', '6400', '0.1', '80']
['167', 'Banda', 'SA_REP', '147', '2008-04-21', '6200', '0.1', '80']
['168', 'Ozer', 'SA_REP', '148', '2005-03-11', '11500', '0.25', '80']
['169', 'Bloom', 'SA_REP', '148', '2006-03-23', '10000', '0.2', '80']
['170', 'Fox', 'SA_REP', '148', '2006-01-24', '9600', '0.2', '80']
['171', 'Smith', 'SA_REP', '148', '2007-02-23', '7400', '0.15', '80']
['172', 'Bates', 'SA_REP', '148', '2007-03-24', '7300', '0.15', '80']
['173', 'Kumar', 'SA_REP', '148', '2008-04-21', '6100', '0.1', '80']
['174', 'Abel', 'SA_REP', '149', '2004-05-11', '11000', '0.3', '80']
['175', 'Hutton', 'SA_REP', '149', '2005-03-19', '8800', '0.25', '80']
['176', 'Taylor', 'SA_REP', '149', '2006-03-24', '8600', '0.2', '80']
['177', 'Livingston', 'SA_REP', '149', '2006-04-23', '8400', '0.2', '80']
['178', 'Grant', 'SA_REP', '149', '2007-05-24', '7000', '0.15', '']
['179', 'Johnson', 'SA_REP', '149', '2008-01-04', '6200', '0.1', '80']
['180', 'Taylor', 'SH_CLERK', '120', '2006-01-24', '3200', '', '50']
['181', 'Fleaur', 'SH_CLERK', '120', '2006-02-23', '3100', '', '50']
['182', 'Sullivan', 'SH_CLERK', '120', '2007-06-21', '2500', '', '50']
['183', 'Geoni', 'SH_CLERK', '120', '2008-02-03', '2800', '', '50']
['184', 'Sarchand', 'SH_CLERK', '121', '2004-01-27', '4200', '', '50']
['185', 'Bull', 'SH_CLERK', '121', '2005-02-20', '4100', '', '50']
['186', 'Dellinger', 'SH_CLERK', '121', '2006-06-24', '3400', '', '50']
['187', 'Cabrio', 'SH_CLERK', '121', '2007-02-07', '3000', '', '50']
['188', 'Chung', 'SH_CLERK', '122', '2005-06-14', '3800', '', '50']
['189', 'Dilly', 'SH_CLERK', '122', '2005-08-13', '3600', '', '50']
['190', 'Gates', 'SH_CLERK', '122', '2006-07-11', '2900', '', '50']
['191', 'Perkins', 'SH_CLERK', '122', '2007-12-19', '2500', '', '50']
['192', 'Bell', 'SH_CLERK', '123', '2004-02-04', '4000', '', '50']
['193', 'Everett', 'SH_CLERK', '123', '2005-03-03', '3900', '', '50']
['194', 'McCain', 'SH_CLERK', '123', '2006-07-01', '3200', '', '50']
['195', 'Jones', 'SH_CLERK', '123', '2007-03-17', '2800', '', '50']
['196', 'Walsh', 'SH_CLERK', '124', '2006-04-24', '3100', '', '50']
['197', 'Feeney', 'SH_CLERK', '124', '2006-05-23', '3000', '', '50']
['198', 'OConnell', 'SH_CLERK', '124', '2007-06-21', '2600', '', '50']
['199', 'Grant', 'SH_CLERK', '124', '2008-01-13', '2600', '', '50']
['200', 'Whalen', 'AD_ASST', '101', '2003-09-17', '4400', '', '10']
['201', 'Hartstein', 'MK_MAN', '100', '2004-02-17', '13000', '', '20']
['202', 'Fay', 'MK_REP', '201', '2005-08-17', '6000', '', '20']
['203', 'Mavris', 'HR_REP', '101', '2002-06-07', '6500', '', '40']
['204', 'Baer', 'PR_REP', '101', '2002-06-07', '10000', '', '70']
['205', 'Higgins', 'AC_MGR', '101', '2002-06-07', '12008', '', '510']
['206', 'Gietz', 'AC_ACCOUNT', '205', '2002-06-07', '8300', '', '110']

In [ ]:
[문제 74] last_name, salary 출력하세요.

In [59]:
import csv

file = open("c:\python\emp1.csv","r")
emp_csv = csv.reader(file)
[print(emp_list[1],emp_list[5]) for emp_list in emp_csv]

King 24000
Kochhar 17000
De Haan 17000
Hunold 9000
Ernst 6000
Austin 4800
Pataballa 4800
Lorentz 4200
Greenberg 13208.8
Faviet 9900
Chen 8200
Sciarra 7700
Urman 7800
Popp 6900
Raphaely 11000
Khoo 3100
Baida 2900
Tobias 2800
Himuro 2600
Colmeres 2500
Weiss 8000
Fripp 8200
Kaufling 7900
Vollman 6500
Mourgos 5800
yer 3200
Mikkilineni 2700
Landry 2400
Markle 2200
Bissot 3300
Atkinson 2800
Marlow 2500
Olson 2100
Mallin 3300
Rogers 2900
Gee 2400
Philtanker 2200
Ladwig 3600
Stiles 3200
Seo 2700
Patel 2500
Rajs 3500
Davies 3100
Matos 2600
Vargas 2500
Russell 14000
Partners 13500
Errazuriz 12000
Cambrault 11000
Zlotkey 10500
Tucker 10000
Bernstein 9500
Hall 9000
Olsen 8000
Cambrault 7500
Tuvault 7000
King 10000
Sully 9500
McEwen 9000
Smith 8000
Doran 7500
Sewall 7000
Vishney 10500
Greene 9500
Marvins 7200
Lee 6800
Ande 6400
Banda 6200
Ozer 11500
Bloom 10000
Fox 9600
Smith 7400
Bates 7300
Kumar 6100
Abel 11000
Hutton 8800
Taylor 8600
Livingston 8400
Grant 7000
Johnson 6200
Taylor 3200
Fleaur 3100
Sullivan 2500
Geoni 2800
Sarchand 4200
Bull 4100
Dellinger 3400
Cabrio 3000
Chung 3800
Dilly 3600
Gates 2900
Perkins 2500
Bell 4000
Everett 3900
McCain 3200
Jones 2800
Walsh 3100
Feeney 3000
OConnell 2600
Grant 2600
Whalen 4400
Hartstein 13000
Fay 6000
Mavris 6500
Baer 10000
Higgins 12008
Gietz 8300

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제 75] last_name, last_name의 길이를 출력하세요.

In [61]:
import csv
file =  open("c:\python\emp1.csv","r")
emp_csv = csv.reader(file)
[print(emp_list[1],len(emp_list[1]))for emp_list in emp_csv]

King 4
Kochhar 7
De Haan 7
Hunold 6
Ernst 5
Austin 6
Pataballa 9
Lorentz 7
Greenberg 9
Faviet 6
Chen 4
Sciarra 7
Urman 5
Popp 4
Raphaely 8
Khoo 4
Baida 5
Tobias 6
Himuro 6
Colmeres 8
Weiss 5
Fripp 5
Kaufling 8
Vollman 7
Mourgos 7
yer 3
Mikkilineni 11
Landry 6
Markle 6
Bissot 6
Atkinson 8
Marlow 6
Olson 5
Mallin 6
Rogers 6
Gee 3
Philtanker 10
Ladwig 6
Stiles 6
Seo 3
Patel 5
Rajs 4
Davies 6
Matos 5
Vargas 6
Russell 7
Partners 8
Errazuriz 9
Cambrault 9
Zlotkey 7
Tucker 6
Bernstein 9
Hall 4
Olsen 5
Cambrault 9
Tuvault 7
King 4
Sully 5
McEwen 6
Smith 5
Doran 5
Sewall 6
Vishney 7
Greene 6
Marvins 7
Lee 3
Ande 4
Banda 5
Ozer 4
Bloom 5
Fox 3
Smith 5
Bates 5
Kumar 5
Abel 4
Hutton 6
Taylor 6
Livingston 10
Grant 5
Johnson 7
Taylor 6
Fleaur 6
Sullivan 8
Geoni 5
Sarchand 8
Bull 4
Dellinger 9
Cabrio 6
Chung 5
Dilly 5
Gates 5
Perkins 7
Bell 4
Everett 7
McCain 6
Jones 5
Walsh 5
Feeney 6
OConnell 8
Grant 5
Whalen 6
Hartstein 9
Fay 3
Mavris 6
Baer 4
Higgins 7
Gietz 5

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제 76] employee_id, last_name, salary를 12달 곱한값 출력하세요.

In [68]:
import csv

file =  open("c:\python\emp1.csv","r")
emp_csv = csv.reader(file)
[print(emp_list[0],emp_list[1],float(emp_list[5])*12) for emp_list in emp_csv]

100 King 288000.0
101 Kochhar 204000.0
102 De Haan 204000.0
103 Hunold 108000.0
104 Ernst 72000.0
105 Austin 57600.0
106 Pataballa 57600.0
107 Lorentz 50400.0
108 Greenberg 158505.59999999998
109 Faviet 118800.0
110 Chen 98400.0
111 Sciarra 92400.0
112 Urman 93600.0
113 Popp 82800.0
114 Raphaely 132000.0
115 Khoo 37200.0
116 Baida 34800.0
117 Tobias 33600.0
118 Himuro 31200.0
119 Colmeres 30000.0
120 Weiss 96000.0
121 Fripp 98400.0
122 Kaufling 94800.0
123 Vollman 78000.0
124 Mourgos 69600.0
125 yer 38400.0
126 Mikkilineni 32400.0
127 Landry 28800.0
128 Markle 26400.0
129 Bissot 39600.0
130 Atkinson 33600.0
131 Marlow 30000.0
132 Olson 25200.0
133 Mallin 39600.0
134 Rogers 34800.0
135 Gee 28800.0
136 Philtanker 26400.0
137 Ladwig 43200.0
138 Stiles 38400.0
139 Seo 32400.0
140 Patel 30000.0
141 Rajs 42000.0
142 Davies 37200.0
143 Matos 31200.0
144 Vargas 30000.0
145 Russell 168000.0
146 Partners 162000.0
147 Errazuriz 144000.0
148 Cambrault 132000.0
149 Zlotkey 126000.0
150 Tucker 120000.0
151 Bernstein 114000.0
152 Hall 108000.0
153 Olsen 96000.0
154 Cambrault 90000.0
155 Tuvault 84000.0
156 King 120000.0
157 Sully 114000.0
158 McEwen 108000.0
159 Smith 96000.0
160 Doran 90000.0
161 Sewall 84000.0
162 Vishney 126000.0
163 Greene 114000.0
164 Marvins 86400.0
165 Lee 81600.0
166 Ande 76800.0
167 Banda 74400.0
168 Ozer 138000.0
169 Bloom 120000.0
170 Fox 115200.0
171 Smith 88800.0
172 Bates 87600.0
173 Kumar 73200.0
174 Abel 132000.0
175 Hutton 105600.0
176 Taylor 103200.0
177 Livingston 100800.0
178 Grant 84000.0
179 Johnson 74400.0
180 Taylor 38400.0
181 Fleaur 37200.0
182 Sullivan 30000.0
183 Geoni 33600.0
184 Sarchand 50400.0
185 Bull 49200.0
186 Dellinger 40800.0
187 Cabrio 36000.0
188 Chung 45600.0
189 Dilly 43200.0
190 Gates 34800.0
191 Perkins 30000.0
192 Bell 48000.0
193 Everett 46800.0
194 McCain 38400.0
195 Jones 33600.0
196 Walsh 37200.0
197 Feeney 36000.0
198 OConnell 31200.0
199 Grant 31200.0
200 Whalen 52800.0
201 Hartstein 156000.0
202 Fay 72000.0
203 Mavris 78000.0
204 Baer 120000.0
205 Higgins 144096.0
206 Gietz 99600.0

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [69]:
[문제77] 이름과 커미션을 출력하는데 커이션 '' 이면 0으로 출력하세요 (함수 만들어서)

In [ ]:
import csv 
file  =  open("c:\python\emp1.csv","r")
emp_csv =  csv.reader(file)

def emp_printer():
    
    x += [emp_list[1],emp_list[3] for emp_list in emp_csv ]

In [90]:
import csv 
file  =  open("c:\python\emp1.csv","r")
emp_csv =  csv.reader(file)

def emp_printer():
    x=[]
    for emp_list in emp_csv:
        if emp_list[3] == '':
             x.append([emp_list[1],0])
        else:
             x.append([emp_list[1],emp_list[3]])
print(x)

emp_printer()

[['King', 0], ['Kochhar', '100'], ['De Haan', '100'], ['Hunold', '102'], ['Ernst', '103'], ['Austin', '103'], ['Pataballa', '103'], ['Lorentz', '103'], ['Greenberg', '101'], ['Faviet', '108'], ['Chen', '108'], ['Sciarra', '108'], ['Urman', '108'], ['Popp', '108'], ['Raphaely', '100'], ['Khoo', '114'], ['Baida', '114'], ['Tobias', '114'], ['Himuro', '114'], ['Colmeres', '114'], ['Weiss', '100'], ['Fripp', '100'], ['Kaufling', '100'], ['Vollman', '100'], ['Mourgos', '100'], ['yer', '120'], ['Mikkilineni', '120'], ['Landry', '120'], ['Markle', '120'], ['Bissot', '121'], ['Atkinson', '121'], ['Marlow', '121'], ['Olson', '121'], ['Mallin', '122'], ['Rogers', '122'], ['Gee', '122'], ['Philtanker', '122'], ['Ladwig', '123'], ['Stiles', '123'], ['Seo', '123'], ['Patel', '123'], ['Rajs', '124'], ['Davies', '124'], ['Matos', '124'], ['Vargas', '124'], ['Russell', '100'], ['Partners', '100'], ['Errazuriz', '100'], ['Cambrault', '100'], ['Zlotkey', '100'], ['Tucker', '145'], ['Bernstein', '145'], ['Hall', '145'], ['Olsen', '145'], ['Cambrault', '145'], ['Tuvault', '145'], ['King', '146'], ['Sully', '146'], ['McEwen', '146'], ['Smith', '146'], ['Doran', '146'], ['Sewall', '146'], ['Vishney', '147'], ['Greene', '147'], ['Marvins', '147'], ['Lee', '147'], ['Ande', '147'], ['Banda', '147'], ['Ozer', '148'], ['Bloom', '148'], ['Fox', '148'], ['Smith', '148'], ['Bates', '148'], ['Kumar', '148'], ['Abel', '149'], ['Hutton', '149'], ['Taylor', '149'], ['Livingston', '149'], ['Grant', '149'], ['Johnson', '149'], ['Taylor', '120'], ['Fleaur', '120'], ['Sullivan', '120'], ['Geoni', '120'], ['Sarchand', '121'], ['Bull', '121'], ['Dellinger', '121'], ['Cabrio', '121'], ['Chung', '122'], ['Dilly', '122'], ['Gates', '122'], ['Perkins', '122'], ['Bell', '123'], ['Everett', '123'], ['McCain', '123'], ['Jones', '123'], ['Walsh', '124'], ['Feeney', '124'], ['OConnell', '124'], ['Grant', '124'], ['Whalen', '101'], ['Hartstein', '100'], ['Fay', '201'], ['Mavris', '101'], ['Baer', '101'], ['Higgins', '101'], ['Gietz', '205']]

In [91]:
#[선생님]

def ifnull(var1,var2):
	if var1 == '':
		return var2
	return var1

file = open("c:\R\emp.csv","r")
emp_csv = csv.reader(file)
for emp_list in emp_csv:
	print(emp_list[2],ifnull(emp_list[8],0))

LAST_NAME COMMISSION_PCT
King 0
Kochhar 0
De Haan 0
Hunold 0
Ernst 0
Austin 0
Pataballa 0
Lorentz 0
Greenberg 0
Faviet 0
Chen 0
Sciarra 0
Urman 0
Popp 0
Raphaely 0
Khoo 0
Baida 0
Tobias 0
Himuro 0
Colmenares 0
Weiss 0
Fripp 0
Kaufling 0
Vollman 0
Mourgos 0
Nayer 0
Mikkilineni 0
Landry 0
Markle 0
Bissot 0
Atkinson 0
Marlow 0
Olson 0
Mallin 0
Rogers 0
Gee 0
Philtanker 0
Ladwig 0
Stiles 0
Seo 0
Patel 0
Rajs 0
Davies 0
Matos 0
Vargas 0
Russell 0.4
Partners 0.3
Errazuriz 0.3
Cambrault 0.3
Zlotkey 0.2
Tucker 0.3
Bernstein 0.25
Hall 0.25
Olsen 0.2
Cambrault 0.2
Tuvault 0.15
King 0.35
Sully 0.35
McEwen 0.35
Smith 0.3
Doran 0.3
Sewall 0.25
Vishney 0.25
Greene 0.15
Marvins 0.1
Lee 0.1
Ande 0.1
Banda 0.1
Ozer 0.25
Bloom 0.2
Fox 0.2
Smith 0.15
Bates 0.15
Kumar 0.1
Abel 0.3
Hutton 0.25
Taylor 0.2
Livingston 0.2
Grant 0.15
Johnson 0.1
Taylor 0
Fleaur 0
Sullivan 0
Geoni 0
Sarchand 0
Bull 0
Dellinger 0
Cabrio 0
Chung 0
Dilly 0
Gates 0
Perkins 0
Bell 0
Everett 0
McCain 0
Jones 0
Walsh 0
Feeney 0
OConnell 0
Grant 0
Whalen 0
Hartstein 0
Fay 0
Mavris 0
Baer 0
Higgins 0
Gietz 0

In [97]:
[문제78] 이름은 대문자로 직업은 소문자로 출력하세요.

In [100]:
import csv 

file =  open("c:\R\emp.csv","r")
emp_csv = csv.reader(file)

[print(i[1].upper(),i[6]) for i in emp_csv]

FIRST_NAME JOB_ID
STEVEN AD_PRES
NEENA AD_VP
LEX AD_VP
ALEXANDER IT_PROG
BRUCE IT_PROG
DAVID IT_PROG
VALLI IT_PROG
DIANA IT_PROG
NANCY FI_MGR
DANIEL FI_ACCOUNT
JOHN FI_ACCOUNT
ISMAEL FI_ACCOUNT
JOSE MANUEL FI_ACCOUNT
LUIS FI_ACCOUNT
DEN PU_MAN
ALEXANDER PU_CLERK
SHELLI PU_CLERK
SIGAL PU_CLERK
GUY PU_CLERK
KAREN PU_CLERK
MATTHEW ST_MAN
ADAM ST_MAN
PAYAM ST_MAN
SHANTA ST_MAN
KEVIN ST_MAN
JULIA ST_CLERK
IRENE ST_CLERK
JAMES ST_CLERK
STEVEN ST_CLERK
LAURA ST_CLERK
MOZHE ST_CLERK
JAMES ST_CLERK
TJ ST_CLERK
JASON ST_CLERK
MICHAEL ST_CLERK
KI ST_CLERK
HAZEL ST_CLERK
RENSKE ST_CLERK
STEPHEN ST_CLERK
JOHN ST_CLERK
JOSHUA ST_CLERK
TRENNA ST_CLERK
CURTIS ST_CLERK
RANDALL ST_CLERK
PETER ST_CLERK
JOHN SA_MAN
KAREN SA_MAN
ALBERTO SA_MAN
GERALD SA_MAN
ELENI SA_MAN
PETER SA_REP
DAVID SA_REP
PETER SA_REP
CHRISTOPHER SA_REP
NANETTE SA_REP
OLIVER SA_REP
JANETTE SA_REP
PATRICK SA_REP
ALLAN SA_REP
LINDSEY SA_REP
LOUISE SA_REP
SARATH SA_REP
CLARA SA_REP
DANIELLE SA_REP
MATTEA SA_REP
DAVID SA_REP
SUNDAR SA_REP
AMIT SA_REP
LISA SA_REP
HARRISON SA_REP
TAYLER SA_REP
WILLIAM SA_REP
ELIZABETH SA_REP
SUNDITA SA_REP
ELLEN SA_REP
ALYSSA SA_REP
JONATHON SA_REP
JACK SA_REP
KIMBERELY SA_REP
CHARLES SA_REP
WINSTON SH_CLERK
JEAN SH_CLERK
MARTHA SH_CLERK
GIRARD SH_CLERK
NANDITA SH_CLERK
ALEXIS SH_CLERK
JULIA SH_CLERK
ANTHONY SH_CLERK
KELLY SH_CLERK
JENNIFER SH_CLERK
TIMOTHY SH_CLERK
RANDALL SH_CLERK
SARAH SH_CLERK
BRITNEY SH_CLERK
SAMUEL SH_CLERK
VANCE SH_CLERK
ALANA SH_CLERK
KEVIN SH_CLERK
DONALD SH_CLERK
DOUGLAS SH_CLERK
JENNIFER AD_ASST
MICHAEL MK_MAN
PAT MK_REP
SUSAN HR_REP
HERMANN PR_REP
SHELLEY AC_MGR
WILLIAM AC_ACCOUNT

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제79] 이름 첫글자만 추출해서 소문자로 출력하세요

In [102]:
import csv

file = open("c:\R\emp.csv","r")
emp_csv =  csv.reader(file)
[print(i[1][0].lower()) for i in emp_csv]

f
s
n
l
a
b
d
v
d
n
d
j
i
j
l
d
a
s
s
g
k
m
a
p
s
k
j
i
j
s
l
m
j
t
j
m
k
h
r
s
j
j
t
c
r
p
j
k
a
g
e
p
d
p
c
n
o
j
p
a
l
l
s
c
d
m
d
s
a
l
h
t
w
e
s
e
a
j
j
k
c
w
j
m
g
n
a
j
a
k
j
t
r
s
b
s
v
a
k
d
d
j
m
p
s
h
s
w

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제80] 이름의 두번째 부터 마지막까지 추출해서 소문자로 출력하세요.

In [104]:
import csv 

file = open("c:\R\emp.csv","r")
emp_csv =  csv.reader(file)

[print(i[1][1:].lower()) for i in emp_csv]

irst_name
teven
eena
ex
lexander
ruce
avid
alli
iana
ancy
aniel
ohn
smael
ose manuel
uis
en
lexander
helli
igal
uy
aren
atthew
dam
ayam
hanta
evin
ulia
rene
ames
teven
aura
ozhe
ames
j
ason
ichael
i
azel
enske
tephen
ohn
oshua
renna
urtis
andall
eter
ohn
aren
lberto
erald
leni
eter
avid
eter
hristopher
anette
liver
anette
atrick
llan
indsey
ouise
arath
lara
anielle
attea
avid
undar
mit
isa
arrison
ayler
illiam
lizabeth
undita
llen
lyssa
onathon
ack
imberely
harles
inston
ean
artha
irard
andita
lexis
ulia
nthony
elly
ennifer
imothy
andall
arah
ritney
amuel
ance
lana
evin
onald
ouglas
ennifer
ichael
at
usan
ermann
helley
illiam

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제 81] 이름을 입력하면 첫번째 철자는 대문자 나머지는 소문자로 출력하는 initcap 함수를 생성한후
initcap 함수를 이용해서 이름을 출력하세요.

In [114]:
def initcap(arg):
    return arg[0].upper()+arg[1:]

In [118]:
a='jkl'
initcap(a)

'Jkl'

In [116]:
file = open("c:\R\emp.csv","r")
emp_csv = csv.reader(file)
[print(initcap(i[1])) for i in emp_csv ]

FIRST_NAME
Steven
Neena
Lex
Alexander
Bruce
David
Valli
Diana
Nancy
Daniel
John
Ismael
Jose Manuel
Luis
Den
Alexander
Shelli
Sigal
Guy
Karen
Matthew
Adam
Payam
Shanta
Kevin
Julia
Irene
James
Steven
Laura
Mozhe
James
TJ
Jason
Michael
Ki
Hazel
Renske
Stephen
John
Joshua
Trenna
Curtis
Randall
Peter
John
Karen
Alberto
Gerald
Eleni
Peter
David
Peter
Christopher
Nanette
Oliver
Janette
Patrick
Allan
Lindsey
Louise
Sarath
Clara
Danielle
Mattea
David
Sundar
Amit
Lisa
Harrison
Tayler
William
Elizabeth
Sundita
Ellen
Alyssa
Jonathon
Jack
Kimberely
Charles
Winston
Jean
Martha
Girard
Nandita
Alexis
Julia
Anthony
Kelly
Jennifer
Timothy
Randall
Sarah
Britney
Samuel
Vance
Alana
Kevin
Donald
Douglas
Jennifer
Michael
Pat
Susan
Hermann
Shelley
William

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
##Python에서 제공하는 함수
file = open("c:\R\emp.csv","r")
emp_csv = csv.reader(file)
for i in emp_csv:
    print(i[2].capitalize())

In [ ]:
[문제 82] 이름을 입력하면 제일뒤에 있는 철자는 대문자 앞의 문자는 소문자로 출력하는 
		tailcap 함수를 생성하세요.

In [121]:
def tailcap(arg):
    return arg[:-1].lower()+arg[-1].upper()

In [122]:
tailcap(a)

'jkL'

In [ ]:
[문제83] 이름의 첫번째 철자부터 세번째 철자까지 출력하세요

In [126]:
import csv

file =  open("c:\R\emp.csv","r")
emp_list =  csv.reader(file)
[print(i[1][0:3]) for i in emp_list]

FIR
Ste
Nee
Lex
Ale
Bru
Dav
Val
Dia
Nan
Dan
Joh
Ism
Jos
Lui
Den
Ale
She
Sig
Guy
Kar
Mat
Ada
Pay
Sha
Kev
Jul
Ire
Jam
Ste
Lau
Moz
Jam
TJ
Jas
Mic
Ki
Haz
Ren
Ste
Joh
Jos
Tre
Cur
Ran
Pet
Joh
Kar
Alb
Ger
Ele
Pet
Dav
Pet
Chr
Nan
Oli
Jan
Pat
All
Lin
Lou
Sar
Cla
Dan
Mat
Dav
Sun
Ami
Lis
Har
Tay
Wil
Eli
Sun
Ell
Aly
Jon
Jac
Kim
Cha
Win
Jea
Mar
Gir
Nan
Ale
Jul
Ant
Kel
Jen
Tim
Ran
Sar
Bri
Sam
Van
Ala
Kev
Don
Dou
Jen
Mic
Pat
Sus
Her
She
Wil

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제84] 이름뒤에서 두글자만 출력하세요.

In [127]:
import csv

file = open("c:\R\emp.csv","r")
emp_csv = csv.reader(file)

[print(i[1][-2:]) for i in emp_csv]

ME
en
na
ex
er
ce
id
li
na
cy
el
hn
el
el
is
en
er
li
al
uy
en
ew
am
am
ta
in
ia
ne
es
en
ra
he
es
TJ
on
el
Ki
el
ke
en
hn
ua
na
is
ll
er
hn
en
to
ld
ni
er
id
er
er
te
er
te
ck
an
ey
se
th
ra
le
ea
id
ar
it
sa
on
er
am
th
ta
en
sa
on
ck
ly
es
on
an
ha
rd
ta
is
ia
ny
ly
er
hy
ll
ah
ey
el
ce
na
in
ld
as
er
el
at
an
nn
ey
am

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제85] 이름과 급여를 출력하는데 월급을 출력할때에 0 대신에 *를 출력하세요.

In [187]:
import csv

file =  open("c:\R\emp.csv","r")
emp_csv = csv.reader(file)
[print(i[1],i[7].replace('0','*')) for i in emp_csv]

FIRST_NAME SALARY
Steven 24***
Neena 17***
Lex 17***
Alexander 9***
Bruce 6***
David 48**
Valli 48**
Diana 42**
Nancy 12**8
Daniel 9***
John 82**
Ismael 77**
Jose Manuel 78**
Luis 69**
Den 11***
Alexander 31**
Shelli 29**
Sigal 28**
Guy 26**
Karen 25**
Matthew 8***
Adam 82**
Payam 79**
Shanta 65**
Kevin 58**
Julia 32**
Irene 27**
James 24**
Steven 22**
Laura 33**
Mozhe 28**
James 25**
TJ 21**
Jason 33**
Michael 29**
Ki 24**
Hazel 22**
Renske 36**
Stephen 32**
John 27**
Joshua 25**
Trenna 35**
Curtis 31**
Randall 26**
Peter 25**
John 14***
Karen 135**
Alberto 12***
Gerald 11***
Eleni 1*5**
Peter 1****
David 95**
Peter 9***
Christopher 8***
Nanette 75**
Oliver 7***
Janette 1****
Patrick 95**
Allan 9***
Lindsey 8***
Louise 75**
Sarath 7***
Clara 1*5**
Danielle 95**
Mattea 72**
David 68**
Sundar 64**
Amit 62**
Lisa 115**
Harrison 1****
Tayler 96**
William 74**
Elizabeth 73**
Sundita 61**
Ellen 11***
Alyssa 88**
Jonathon 86**
Jack 84**
Kimberely 7***
Charles 62**
Winston 32**
Jean 31**
Martha 25**
Girard 28**
Nandita 42**
Alexis 41**
Julia 34**
Anthony 3***
Kelly 38**
Jennifer 36**
Timothy 29**
Randall 25**
Sarah 4***
Britney 39**
Samuel 32**
Vance 28**
Alana 31**
Kevin 3***
Donald 26**
Douglas 26**
Jennifer 44**
Michael 13***
Pat 6***
Susan 65**
Hermann 1****
Shelley 12**8
William 83**

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제86] 문제 85번 결과를 새로운 sal 변수에 넣어 주세요

In [189]:
import csv

file =  open("c:\R\emp.csv","r")
emp_csv = csv.reader(file)

sal = []
[sal.append([i[1],i[7].replace('0','*')]) for i in emp_csv]
sal

[['FIRST_NAME', 'SALARY'],
 ['Steven', '24***'],
 ['Neena', '17***'],
 ['Lex', '17***'],
 ['Alexander', '9***'],
 ['Bruce', '6***'],
 ['David', '48**'],
 ['Valli', '48**'],
 ['Diana', '42**'],
 ['Nancy', '12**8'],
 ['Daniel', '9***'],
 ['John', '82**'],
 ['Ismael', '77**'],
 ['Jose Manuel', '78**'],
 ['Luis', '69**'],
 ['Den', '11***'],
 ['Alexander', '31**'],
 ['Shelli', '29**'],
 ['Sigal', '28**'],
 ['Guy', '26**'],
 ['Karen', '25**'],
 ['Matthew', '8***'],
 ['Adam', '82**'],
 ['Payam', '79**'],
 ['Shanta', '65**'],
 ['Kevin', '58**'],
 ['Julia', '32**'],
 ['Irene', '27**'],
 ['James', '24**'],
 ['Steven', '22**'],
 ['Laura', '33**'],
 ['Mozhe', '28**'],
 ['James', '25**'],
 ['TJ', '21**'],
 ['Jason', '33**'],
 ['Michael', '29**'],
 ['Ki', '24**'],
 ['Hazel', '22**'],
 ['Renske', '36**'],
 ['Stephen', '32**'],
 ['John', '27**'],
 ['Joshua', '25**'],
 ['Trenna', '35**'],
 ['Curtis', '31**'],
 ['Randall', '26**'],
 ['Peter', '25**'],
 ['John', '14***'],
 ['Karen', '135**'],
 ['Alberto', '12***'],
 ['Gerald', '11***'],
 ['Eleni', '1*5**'],
 ['Peter', '1****'],
 ['David', '95**'],
 ['Peter', '9***'],
 ['Christopher', '8***'],
 ['Nanette', '75**'],
 ['Oliver', '7***'],
 ['Janette', '1****'],
 ['Patrick', '95**'],
 ['Allan', '9***'],
 ['Lindsey', '8***'],
 ['Louise', '75**'],
 ['Sarath', '7***'],
 ['Clara', '1*5**'],
 ['Danielle', '95**'],
 ['Mattea', '72**'],
 ['David', '68**'],
 ['Sundar', '64**'],
 ['Amit', '62**'],
 ['Lisa', '115**'],
 ['Harrison', '1****'],
 ['Tayler', '96**'],
 ['William', '74**'],
 ['Elizabeth', '73**'],
 ['Sundita', '61**'],
 ['Ellen', '11***'],
 ['Alyssa', '88**'],
 ['Jonathon', '86**'],
 ['Jack', '84**'],
 ['Kimberely', '7***'],
 ['Charles', '62**'],
 ['Winston', '32**'],
 ['Jean', '31**'],
 ['Martha', '25**'],
 ['Girard', '28**'],
 ['Nandita', '42**'],
 ['Alexis', '41**'],
 ['Julia', '34**'],
 ['Anthony', '3***'],
 ['Kelly', '38**'],
 ['Jennifer', '36**'],
 ['Timothy', '29**'],
 ['Randall', '25**'],
 ['Sarah', '4***'],
 ['Britney', '39**'],
 ['Samuel', '32**'],
 ['Vance', '28**'],
 ['Alana', '31**'],
 ['Kevin', '3***'],
 ['Donald', '26**'],
 ['Douglas', '26**'],
 ['Jennifer', '44**'],
 ['Michael', '13***'],
 ['Pat', '6***'],
 ['Susan', '65**'],
 ['Hermann', '1****'],
 ['Shelley', '12**8'],
 ['William', '83**']]

In [ ]:
ㅁ round 함수 (반올림)

In [190]:
round(45.926,0)

46.0

In [191]:
round(45.926,1)

45.9

In [192]:
round(45.926,2)

45.93

In [193]:
round(45.926,-1)

50.0

In [ ]:
ㅁ math.trunc() 함수 math 모듈 #r, sql과 다르게 소숫점 자리 무조건 버림

In [196]:
import math

math.trunc(15.926)

15

In [197]:
x=1.515

In [ ]:
[문제87] 이름, 급여, 보너스를 출력하는데 보너스는 급여의 15% 출력해주세요. 
	단 보너스는 소숫점은 버리세요.

In [210]:
import csv

file = open("c:\python\emp1.csv","r")
emp_csv = csv.reader(file)

[print(i[1],i[5],math.trunc(float(i[5])*0.15)) for i in emp_csv]

King 24000 3600
Kochhar 17000 2550
De Haan 17000 2550
Hunold 9000 1350
Ernst 6000 900
Austin 4800 720
Pataballa 4800 720
Lorentz 4200 630
Greenberg 13208.8 1981
Faviet 9900 1485
Chen 8200 1230
Sciarra 7700 1155
Urman 7800 1170
Popp 6900 1035
Raphaely 11000 1650
Khoo 3100 465
Baida 2900 435
Tobias 2800 420
Himuro 2600 390
Colmeres 2500 375
Weiss 8000 1200
Fripp 8200 1230
Kaufling 7900 1185
Vollman 6500 975
Mourgos 5800 870
yer 3200 480
Mikkilineni 2700 405
Landry 2400 360
Markle 2200 330
Bissot 3300 495
Atkinson 2800 420
Marlow 2500 375
Olson 2100 315
Mallin 3300 495
Rogers 2900 435
Gee 2400 360
Philtanker 2200 330
Ladwig 3600 540
Stiles 3200 480
Seo 2700 405
Patel 2500 375
Rajs 3500 525
Davies 3100 465
Matos 2600 390
Vargas 2500 375
Russell 14000 2100
Partners 13500 2025
Errazuriz 12000 1800
Cambrault 11000 1650
Zlotkey 10500 1575
Tucker 10000 1500
Bernstein 9500 1425
Hall 9000 1350
Olsen 8000 1200
Cambrault 7500 1125
Tuvault 7000 1050
King 10000 1500
Sully 9500 1425
McEwen 9000 1350
Smith 8000 1200
Doran 7500 1125
Sewall 7000 1050
Vishney 10500 1575
Greene 9500 1425
Marvins 7200 1080
Lee 6800 1020
Ande 6400 960
Banda 6200 930
Ozer 11500 1725
Bloom 10000 1500
Fox 9600 1440
Smith 7400 1110
Bates 7300 1095
Kumar 6100 915
Abel 11000 1650
Hutton 8800 1320
Taylor 8600 1290
Livingston 8400 1260
Grant 7000 1050
Johnson 6200 930
Taylor 3200 480
Fleaur 3100 465
Sullivan 2500 375
Geoni 2800 420
Sarchand 4200 630
Bull 4100 615
Dellinger 3400 510
Cabrio 3000 450
Chung 3800 570
Dilly 3600 540
Gates 2900 435
Perkins 2500 375
Bell 4000 600
Everett 3900 585
McCain 3200 480
Jones 2800 420
Walsh 3100 465
Feeney 3000 450
OConnell 2600 390
Grant 2600 390
Whalen 4400 660
Hartstein 13000 1950
Fay 6000 900
Mavris 6500 975
Baer 10000 1500
Higgins 12008 1801
Gietz 8300 1245

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
[문제88] 이름, 입사한 요일(한글)을 출력하세요.

In [245]:
import csv
import time

file = open('c:\python\emp1.csv','r')
emp_list = csv.reader(file)

def wday(arg):
    x = time.strptime(arg,'%Y-%m-%d')
    d = ['일요일','화요일','수요일','목요일','금요일','토요일','월요일']
    x1 = time.strftime('%w',x)
    return d[int(x1)]

[print(i[1],wday(i[4])) for i in emp_list]

King 수요일
Kochhar 목요일
De Haan 월요일
Hunold 수요일
Ernst 화요일
Austin 월요일
Pataballa 일요일
Lorentz 목요일
Greenberg 월요일
Faviet 토요일
Chen 목요일
Sciarra 토요일
Urman 수요일
Popp 토요일
Raphaely 월요일
Khoo 일요일
Baida 월요일
Tobias 일요일
Himuro 목요일
Colmeres 토요일
Weiss 일요일
Fripp 일요일
Kaufling 금요일
Vollman 화요일
Mourgos 토요일
yer 월요일
Mikkilineni 금요일
Landry 일요일
Markle 월요일
Bissot 월요일
Atkinson 일요일
Marlow 목요일
Olson 수요일
Mallin 화요일
Rogers 월요일
Gee 목요일
Philtanker 목요일
Ladwig 화요일
Stiles 목요일
Seo 일요일
Patel 금요일
Rajs 토요일
Davies 월요일
Matos 목요일
Vargas 일요일
Russell 토요일
Partners 목요일
Errazuriz 금요일
Cambrault 화요일
Zlotkey 수요일
Tucker 일요일
Bernstein 금요일
Hall 월요일
Olsen 금요일
Cambrault 월요일
Tuvault 토요일
King 토요일
Sully 금요일
McEwen 일요일
Smith 금요일
Doran 금요일
Sewall 토요일
Vishney 토요일
Greene 화요일
Marvins 금요일
Lee 월요일
Ande 화요일
Banda 화요일
Ozer 토요일
Bloom 금요일
Fox 수요일
Smith 토요일
Bates 월요일
Kumar 화요일
Abel 수요일
Hutton 월요일
Taylor 토요일
Livingston 일요일
Grant 금요일
Johnson 토요일
Taylor 수요일
Fleaur 금요일
Sullivan 금요일
Geoni 일요일
Sarchand 수요일
Bull 일요일
Dellinger 월요일
Cabrio 목요일
Chung 수요일
Dilly 월요일
Gates 수요일
Perkins 목요일
Bell 목요일
Everett 금요일
McCain 월요일
Jones 월요일
Walsh 화요일
Feeney 수요일
OConnell 금요일
Grant 일요일
Whalen 목요일
Hartstein 수요일
Fay 목요일
Mavris 토요일
Baer 토요일
Higgins 토요일
Gietz 토요일

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
#datetime 모듈 사용 
import datetime

def K_wdays(arg): 
        date=datetime.datetime.strptime(arg,"%y/%m/%d")
        date=date.weekday()
        d=["월요일","화요일","수요일","목요일","금요일","토요일","일요일"]
        return d[date]
   
file = open("c:\R\emp.csv","r")
emp_csv = csv.reader(file)
for i in emp_csv:
       print(i[2],K_wdays(i[5]))

In [ ]:
[문제89] 이름, 입사한 날짜부터 오늘까지 총 몇일 근무했는지 출력하세요.

In [251]:
import time
import csv
import math

file = open('c:\python\emp1.csv','r')
emp_csv = csv.reader(file)
for emp_list in emp_csv:
    a = time.mktime(time.localtime())
    b = time.mktime(time.strptime(emp_list[4],"%Y-%m-%d"))
    c = a - b
    print (emp_list[1], math.trunc(c/86400))  #하루 = 86400초

King 5817
Kochhar 4990
De Haan 6702
Hunold 4886
Ernst 4383
Austin 5078
Pataballa 4853
Lorentz 4486
Greenberg 6121
Faviet 6122
Chen 4983
Sciarra 4981
Urman 4823
Popp 4183
Raphaely 6009
Khoo 5847
Baida 4896
Tobias 5049
Himuro 4570
Colmeres 4302
Weiss 5420
Fripp 5154
Kaufling 5864
Vollman 4971
Mourgos 4204
yer 5057
Mikkilineni 4618
Landry 4510
Markle 4091
Bissot 5022
Atkinson 4951
Marlow 5207
Olson 4424
Mallin 5454
Rogers 4651
Gee 4178
Philtanker 4122
Ladwig 5790
Stiles 4955
Seo 4846
Patel 4793
Rajs 5695
Davies 5225
Matos 4815
Vargas 4699
Russell 5345
Partners 5249
Errazuriz 5185
Cambrault 4236
Zlotkey 4130
Tucker 5224
Bernstein 5171
Hall 5022
Olsen 4800
Cambrault 4546
Tuvault 4197
King 5590
Sully 5556
McEwen 5406
Smith 5185
Doran 4905
Sewall 4582
Vishney 4939
Greene 4446
Marvins 4135
Lee 4105
Ande 4075
Banda 4047
Ozer 5184
Bloom 4807
Fox 4865
Smith 4470
Bates 4441
Kumar 4047
Abel 5488
Hutton 5176
Taylor 4806
Livingston 4776
Grant 4380
Johnson 4155
Taylor 4865
Fleaur 4835
Sullivan 4352
Geoni 4125
Sarchand 5593
Bull 5203
Dellinger 4714
Cabrio 4486
Chung 5089
Dilly 5029
Gates 4697
Perkins 4171
Bell 5585
Everett 5192
McCain 4707
Jones 4448
Walsh 4775
Feeney 4746
OConnell 4352
Grant 4146
Whalen 5725
Hartstein 5572
Fay 5025
Mavris 6192
Baer 6192
Higgins 6192
Gietz 6192